@font-face {
  font-family: 'UntitledSans';
  font-weight: 500;
  font-style: normal;
  font-display: swap;
  src:
    url('../fonts/UntitledSans-Medium.woff2') format('woff2'),
    url('../fonts/UntitledSans-Medium.woff') format('woff'),
    url('../fonts/UntitledSans-Medium.ttf') format('ttf'),
}

@font-face {
  font-family: 'UntitledSans';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src:
    url('../fonts/UntitledSans-Regular.woff2') format('woff2'),
    url('../fonts/UntitledSans-Regular.woff') format('woff'),
    url('../fonts/UntitledSans-Regular.ttf') format('ttf'),
}

@font-face {
  font-family: 'UntitledSans';
  font-weight: 300;
  font-style: normal;
  font-display: swap;
  src:
    url('../fonts/UntitledSans-Light.woff2') format('woff2'),
    url('../fonts/UntitledSans-Light.woff') format('woff'),
    url('../fonts/UntitledSans-Light.ttf') format('ttf'),
}

@font-face {
  font-family: 'SaolDisplay';
  font-weight: 400;
  font-style: italic;
  font-display: swap;
  src:
    url('../fonts/SaolDisplay-RegularItalic.woff2') format('woff2'),
    url('../fonts/SaolDisplay-RegularItalic.woff') format('woff'),
    url('../fonts/SaolDisplay-RegularItalic.ttf') format('ttf'),
}

@font-face {
  font-family: 'SaolDisplay';
  font-weight: 400;
  font-style: normal;
  font-display: swap;
  src:
    url('../fonts/SaolDisplay-Regular.woff2') format('woff2'),
    url('../fonts/SaolDisplay-Regular.woff') format('woff'),
    url('../fonts/SaolDisplay-Regular.ttf') format('ttf'),
}

@font-face {
  font-family: 'SaolDisplay';
  font-weight: 300;
  font-style: italic;
  font-display: swap;
  src:
    url('../fonts/SaolDisplay-LightItalic.woff2') format('woff2'),
    url('../fonts/SaolDisplay-LightItalic.woff') format('woff'),
    url('../fonts/SaolDisplay-LightItalic.ttf') format('ttf'),
}