@import "mixin-flex";

html,
body {
  height: 100%;
}

body {
  display: flex;
  flex-direction: column;
  font-family: 'UntitledSans', sans-serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 1.4;
  background-color: $white;
  color: $default;
  overflow-x: hidden;
}

.container {
  max-width: 1670px;
  margin: 0 auto;
  padding: 0 15px;
}

.sr-only {
  position: absolute;
  width: 0px;
  height: 0px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

._show-1024 {
  display: none;

  @include adpt($tab-r) {
    display: block;
  }
}


._fixed {
  overflow: hidden;
}

.slider-button {
  position: absolute;
  display: block;
  cursor: pointer;
}

.slider-button-prev {
  transform: rotate(180deg);
}

.scroll-top {
  @media (min-width: 992px) {
    position: fixed;
    right: 40px;
    bottom: 45px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(25px);
    @include flexbox;
    @include justify-content(center);
    @include align-items(center);
    z-index: 3;
    transition: background-color .3s;

    img {
      margin: 0 auto;
      width: 12px;
      height: auto;
    }
  }

  &:hover {
    background-color: rgba(255, 255, 255, 0.2);
  }

  @media (max-width: 992px) {
    display: none !important;
  }
}

.listen-podcast {
  display: none;
  position: relative;
  @media (min-width: 992px) {
    position: fixed;
    right: 40px;
    bottom: 120px;
    height: 60px;
    width: 60px;
    border-radius: 50%;
    background-color: #B5D8D6;
    @include flexbox;
    @include justify-content(center);
    @include align-items(center);
    z-index: 3;
    -webkit-transition: background-color .3s ease;
    -moz-transition: background-color .3s ease;
    -ms-transition: background-color .3s ease;
    -o-transition: background-color .3s ease;
    transition: background-color .3s ease;
    color: #363A45;
  }

  &:hover {
    color: #B5D8D6;
    background-color: #363A45;
    box-shadow: 0 2px 10px rgba(181, 216, 214, 0.9);

    .hint {
      pointer-events: auto;
      opacity: 1;
      visibility: visible;
    }
  }
}

.hint {
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  width: 105px;
  position: absolute;
  top: auto;
  left: -120px;
  padding: 6px 5px;
  background: #B5D8D6;
  border-radius: 7px;
  font-weight: 500;
  font-size: 12px;
  line-height: 120%;
  text-align: center;
  color: #363A45;
  -webkit-transition: opacity .3s;
  -moz-transition: opacity .3s;
  -ms-transition: opacity .3s;
  -o-transition: opacity .3s;
  transition: opacity .3s;

  &:before {
    content: '';
    position: absolute;
    right: -12px;
    top: 50%;
    margin-top: -6px;
    border: 6px solid transparent;
    border-left: 6px solid #B5D8D6;
  }
}

.fixed-social-link {
  position: fixed;
  top: 50%;
  left: 40px;
  @include flexbox;
  @include flex-direction(column);
  @include align-items(center);
  gap: 20px;
  z-index: 2;
  -webkit-transform: translateY(-50%);
  -moz-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  -o-transform: translateY(-50%);
  transform: translateY(-50%);

  @include adpt($big-r) {
    display: none;
  }

  a {
    height: 30px;
    width: 30px;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.05);
    backdrop-filter: blur(25px);
    border-radius: 50%;

    img {
      opacity: .2;
      -webkit-transition: opacity .3s;
      -moz-transition: opacity .3s;
      -ms-transition: opacity .3s;
      -o-transition: opacity .3s;
      transition: opacity .3s;
    }

    &:hover {
      img {
        opacity: 1;
      }
    }
  }
}

a, button {
  transition: background 0.3s, color 0.3s;
}

.custom-list {
  ul {
    margin: 0;
    padding: 0;
    list-style: none;

    li {
      font-size: 20px;
      line-height: 1.4;
      color: $white;
      position: relative;
      padding-left: 64px;
      @include adpt($mtab-r) {
        padding-left: 44px;
        font-size: 17px;
      }

      &:not(:last-child) {
        margin-bottom: 20px;
      }

      &:before {
        content: "";
        position: absolute;
        top: 9px;
        left: 0;
        width: 24px;
        height: 1px;
        background: $white;
        @include adptmob($mtab-r) {
          top: 12px;
          width: 36px;
        }
      }

      a {
        color: $white;
        text-decoration: underline;

        &:hover {
          text-decoration: none;
        }
      }
    }
  }
}