._hide-1024 {
  @include adpt ($tab-r) {
    display: none;
  }
}

._show-1024 {
  display: none;

  @include adpt ($tab-r) {
    display: block;
  }
}

._hide-992 {
  @include adpt ($mtab-r) {
    display: none;
  }
}
._show-992 {
  display: none;

  @include adpt ($mtab-r) {
    display: block;
  }
}

._hide-768 {
  @include adpt ($stab-r) {
    display: none;
  }
}
._show-768 {
  display: none;

  @include adpt ($stab-r) {
    display: block;
  }
}

._show-576 {
  display: none;

  @include adpt ($bmob-r) {
    display: block;
  }
}

._hide-576 {
  @include adpt ($bmob-r) {
    display: none;
  }
}