$accent: #F0BB82;
$accent-2: #D7AE9C;
$link: #436372;
$default: #3B3633;
$white: #ffffff;
$bg-img: #EBEBEB;


$big-r: 1380;
$desm-r: 1280;
$tab-r: 1024;
$mtab-r: 992;
$stab-r: 768;
$bmob-r: 576;

// Grid
$grid-columns: 12;
$grid-gap: 30px;
$grid-breakpoints: (
        xs: 0,
        sm: 576px,
        md: 768px,
        lg: 992px,
        xl: 1200px,
        xxl: 1400px,
);

@mixin adpt($width) {
  @media (max-width: #{($width - 1)}px) {
    @content;
  }
}

@mixin adptmob($width) {
  @media (min-width: #{$width}px) {
    @content;
  }
}

@include adpt($bmob-r) {
}

@function max($numbers...) {
  @return m#{a}x(#{$numbers});
}

@function min($numbers...) {
  @return m#{i}n(#{$numbers});
}