.burger {
  display: flex;
  align-items: center;
  text-transform: uppercase;

  @include adpt($bmob-r) {
    padding: 10px 20px 10px 0;
  }

  &._active {
    @include adpt($bmob-r) {
      transform: translateX(-10px);
      width: 44px;
      height: 44px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 0;

      & .burger__img-close {
        opacity: 1;
        position: relative;
      }

      & .burger__img {
        opacity: 0;
        position: absolute;
      }
    }
  }

  &__img {
    position: relative;
    margin-right: 14px;
    transition: opacity 0.3s;

    @include adpt($bmob-r) {
      margin-right: 0;
    }
  }

  &__img-close {
    opacity: 0;
    position: absolute;
    transition: opacity 0.3s;
  }

  &__text {
    display: block;
    -webkit-transition: margin-left .3s ease-in-out;
    -moz-transition: margin-left .3s ease-in-out;
    -ms-transition: margin-left .3s ease-in-out;
    -o-transition: margin-left .3s ease-in-out;
    transition: margin-left .3s ease-in-out;

    @include adpt($bmob-r) {
      display: none;
    }
  }
}