.collection {
  position: relative;
  overflow: hidden;
  color: #fff;
  text-align: center;
  background: #363a45;
}

.collection__box {
  position: relative;
  z-index: 1;
  max-width: 1620px;
  padding: 110px 25px 117px;
  margin: 0 auto;
}

.collection__title {
  margin: 0;
  font-family: SaolDisplay, serif;
  font-size: 50px;
  font-style: normal;
  font-weight: 300;
  line-height: 100%;
}

.collection__subtitle {
  margin: 44px 0 0;
  font-size: 17px;
  font-weight: 400;
  line-height: 140%;
  color: #d7ae9c;

  strong {
    display: block;
    margin-top: 10px;
    font-family: SaolDisplay, serif;
    font-size: 36px;
    font-weight: 400;
    line-height: 100%;
  }
}

.collection__discord {
  margin-top: 40px;
  font-size: 17px;
  font-weight: 400;
  line-height: 140%;
  color: #a0afe4;
  text-align: center;
}

.collection__discord-btn {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 260px;
  height: 70px;
  padding-top: 2px;
  margin: 15px auto 0;
  font-size: 15px;
  font-weight: 700;
  line-height: 120%;
  letter-spacing: 0.05em;
  color: #fff;
  text-transform: uppercase;
  background: #6371a4;
  backdrop-filter: blur(15px);

  &::before {
    display: block;
    flex-shrink: 0;
    width: 30px;
    height: 30px;
    margin-right: 12px;
    content: "";
    background: url("../images/shared/discord.svg") no-repeat;
    background-size: contain;
  }

  &:hover,
  &:focus {
    background-color: #4d5984;
  }
}

.collection__social {
  display: grid;
  grid-auto-flow: column;
  gap: 10px;
  justify-content: center;
  margin: 20px 0 0;

  a {
    display: block;
    width: 40px;
    height: 40px;
    filter: brightness(0) saturate(100%) invert(41%) sepia(11%) saturate(620%)
      hue-rotate(186deg) brightness(97%) contrast(87%);
    transition: filter 0.3s;

    &:hover,
    &:focus {
      filter: brightness(100) saturate(100%);
    }
  }
}

.collection__decors {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  display: grid;
  grid-template-rows: repeat(13, 1fr);
  grid-template-columns: repeat(8, 1fr);
  grid-auto-flow: rows;
  gap: 5px;
  width: 100%;
  height: 100%;
  padding: 5px;
}

@mixin last-column {
  &::before {
    right: 0;
  }
}

.collection__decors-item {
  position: relative;

  &::before {
    position: absolute;
    display: block;
    width: auto;
    max-width: 100%;
    height: 100%;
    aspect-ratio: 1 / 1;
    content: "";
    background: var(--bg);
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  &:nth-of-type(2) {
    grid-column: 3;
  }

  &:nth-of-type(3) {
    grid-column: 7;
  }

  &:nth-of-type(4) {
    @include last-column();
  }

  &:nth-of-type(6) {
    grid-column: 5;
  }

  &:nth-of-type(7) {
    @include last-column();
    grid-row: 4;
    grid-column: 8;
  }

  &:nth-of-type(8) {
    @include last-column();
    grid-row: 5;
    grid-column: 8;
  }

  &:nth-of-type(9) {
    grid-row: 7;
    grid-column: 1;
  }

  &:nth-of-type(10) {
    grid-row: 10;
    grid-column: 1;
  }

  &:nth-of-type(11) {
    grid-row: 11;
    grid-column: 1;
  }

  &:nth-of-type(12) {
    grid-row: 12;
    grid-column: 3;
  }

  &:nth-of-type(13) {
    @include last-column();
    grid-row: 12;
    grid-column: 8;
  }

  &:nth-of-type(14) {
    @include last-column();
    grid-row: 13;
    grid-column: 6;
  }

  &:nth-of-type(15) {
    @include last-column();
    grid-row: 13;
    grid-column: 8;
  }
}

//############################################################################
//------------------------- MEDIA QUERIES
//############################################################################
@media (min-width: #{map-get($grid-breakpoints, xl)}) {
  .collection__box {
    padding-top: 200px;
    padding-bottom: 160px;
  }

  .collection__title {
    font-size: 120px;
  }

  .collection__subtitle {
    margin-top: 50px;
    font-size: 20px;

    strong {
      margin-top: 15px;
      font-size: 50px;
    }
  }

  .collection__discord {
    margin-top: 50px;
    font-size: 20px;
  }

  .collection__discord-btn {
    width: 300px;
    height: 70px;
    margin-top: 20px;
    font-size: 15px;
  }

  .collection__social {
    margin-top: 79px;
  }

  .collection__decors {
    top: 50%;
    // width: 100%;
    // height: 640px;
    gap: 10px;
    margin-top: 15px;
    padding: 0;
    grid-template-rows: repeat(5, 1fr);
    grid-template-columns: repeat(12, 1fr);
    transform: translate(0, -50%);

    @supports (aspect-ratio: 1/2) {
      height: auto;
      aspect-ratio: 1620/640;
    }
  }

  .collection__decors-item {
    &::before {
      right: 0;
      background: var(--bg-md);
      background-size: contain;
      background-repeat: no-repeat;
      background-position: center;
      max-width: none;
    }

    &:nth-of-type(n + 1) {
      grid-row: auto;
      grid-column: auto;
    }

    &:nth-of-type(2) {
      grid-column: 9;
    }

    &:nth-of-type(3) {
      grid-column: 12;
    }

    &:nth-of-type(6) {
      grid-column: 11;
    }

    &:nth-of-type(7) {
      grid-column: 1;
    }

    &:nth-of-type(9) {
      grid-column: 4;
    }

    &:nth-of-type(10) {
      grid-column: 10;
    }

    &:nth-of-type(12) {
      grid-column: 2;
    }

    &:nth-of-type(14) {
      grid-column: 10;
    }

    &:nth-of-type(15) {
      grid-column: 12;
    }

    &:nth-of-type(17) {
      grid-column: 3;
    }

    &:nth-of-type(18) {
      grid-column: 5;
    }

    &:nth-of-type(19) {
      grid-column: 9;
    }

    &:nth-of-type(20) {
      grid-column: 11;
    }
  }
} // xl
