.crypto-access {
  position: relative;
  padding: 150px 0 120px;
  background: linear-gradient(0deg, #3E4C3D, #3E4C3D), #37473A;
  color: $white;
  background-image: url('../images/crypto-access/bg.svg');
  background-size: 1050px;
  background-repeat: no-repeat;
  background-position: bottom right;


  @include adpt($big-r) {
    background-size: 900px;
  }

  @include adpt(1180) {
    background-image: none;
    padding: 50px 0 30px;
  }

  &__container {
    margin: 0 310px 0 150px;

    @include adpt(1800) {
      margin: 0;
      padding: 0 25px;
    }
  }

  &__top {
    @include flexbox;
    @include justify-content(space-between);
    @include align-items(center);
    margin-bottom: 80px;

    @include adpt(1180) {
      flex-direction: column;
      margin-bottom: 30px;
      align-items: flex-start;
      margin-right: 0;
    }
  }

  &__title {
    font-size: 50px;
    line-height: 50px;
    font-family: 'SaolDisplay', sans-serif;
    color: #738471;
    margin-right: 50px;

    @include adpt(1180) {
      margin-right: 0;
      margin-bottom: 40px;
    }

    & span {
      font-weight: 300;
      font-style: italic;

      @include adpt(1180) {
        font-size: 36px;
      }
    }
  }

  &__links-wrap {
    @include adpt(1180) {
      overflow-x: auto;
      width: calc(100% - 35px);
    }
  }

  &__links {
    @include flexbox;
    @include justify-content(center);
    @include align-items(center);
    width: 640px;

    @include adpt($big-r) {
      width: 580px;
    }

    @include adpt(1180) {
      width: auto;
      margin-right: 35px;
      padding-bottom: 8px;
      justify-content: flex-start;
    }
  }

  &__link {
    position: relative;
    color: $accent-2;
    font-size: 24px;
    line-height: 24px;
    padding-bottom: 3px;
    font-family: 'SaolDisplay', sans-serif;
    transition: color 0.3s;

    @include adpt(1180) {
      font-size: 20px;
      white-space: nowrap;
    }

    &:not(:last-child) {
      margin-right: 30px;

      @include adpt($big-r) {
        margin-right: 15px;
      }

      @include adpt(1180) {
        margin-right: 25px;
      }
    }


    &:hover {
      color: $white;

      &::after {
        background-color: $white;
      }
    }

    &::after {
      content: "";
      position: absolute;
      bottom: 0;
      left: 0;
      width: 100%;
      height: 1px;
      background-color: $accent-2;
      transition: background-color 0.3s, opacity 0.3s;
    }

    &._active {
      color: $white;

      &::after {
        opacity: 0;
      }
    }
  }

  &__slider {
    overflow: initial;
  }

  &__slide-wrap {
    @include adpt($bmob-r) {
      opacity: 0.6;
      transform: scale(0.95);
      transition: opacity 0.3s, transform 0.3s;

      & .crypto-access__left {
        opacity: 0;
      }

      &.swiper-slide-active {
        opacity: 1;
        transform: scale(1);

        & .crypto-access__left {
          opacity: 1;
        }
      }
    }
  }

  &__slide {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;

    @include adpt(1180) {
      flex-direction: column-reverse;
    }
  }

  &__left {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-right: 110px;

    @include adpt(1800) {
      margin-right: 50px;
    }

    @include adpt(1180) {
      margin-right: 0;
      margin-top: 70px;
    }
  }

  &__left-top {
    position: relative;
    margin-bottom: 50px;

    @include adpt(1180) {
      padding-bottom: 40px;
      margin-bottom: 30px;
      border-bottom: 1px solid rgba(#EBEBEB, 0.1);
    }
  }

  &__item-title {
    font-family: 'SaolDisplay', sans-serif;
    font-weight: 300;
    font-size: 90px;
    line-height: 1;
    margin-bottom: 20px;

    @include adpt($big-r) {
      font-size: 60px;
    }

    @include adpt(1180) {
      font-size: 50px;
    }
  }

  &__action {
    @include adptmob(1180) {
      display: flex;
    }
  }

  &__price {
    font-size: 50px;
    line-height: 1.2;
    color: $accent-2;

    @include adptmob(1180) {
      margin-right: 38px;
    }

    @include adpt($big-r) {
      font-size: 36px;
    }
  }

  &__btn {
    font-weight: 700;
    font-size: 21px;
    text-transform: uppercase;
    padding: 30px;
    width: 200px;
    height: 200px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $default;
    background-color: $accent;
    -webkit-transition: background-color .3s, transform .3s !important;
    -moz-transition: background-color .3s, transform .3s !important;
    -ms-transition: background-color .3s, transform .3s !important;
    -o-transition: background-color .3s, transform .3s !important;
    transition: background-color .3s, transform .3s !important;

    @include adpt($big-r) {
      padding: 10px;
      width: 150px;
      height: 150px;
      bottom: -120px;
      right: 30px;
    }

    @include adpt(1180) {
      position: absolute;
      width: 120px;
      height: 120px;
      top: -80px;
      right: 60px;
      font-size: 14px;
      z-index: 2;
    }

    &._active {
      background-color: #738471;
      color: $white;

      &:hover {
        background-color: #738471;
      }
    }

    &:hover {
      -webkit-transform: scale(1.1);
      -moz-transform: scale(1.1);
      -ms-transform: scale(1.1);
      -o-transform: scale(1.1);
      transform: scale(1.1);
      background-color: #F8CC9D;
    }
  }

  &__sales {
    color: #738471;
    font-size: 15px;
    margin-bottom: 15px;

    @include adpt(1180) {
      font-size: 14px;
    }
  }

  &__date {
    padding-left: 8px;
    font-size: 50px;
    line-height: 1;
    color: $accent-2;
    max-width: 220px;
    font-weight: 300;
    font-style: italic;
    font-family: 'SaolDisplay', sans-serif;

    @include adpt(1180) {
      max-width: 100%;
      font-size: 36px;
    }
  }

  &__right {
    align-self: flex-start;
    margin-top: 1px;
    position: relative;
    width: 640px;
    min-width: 640px;
    flex-shrink: 0;
    border-radius: 30px;
    background-image: url('../images/crypto-access/card-bg.png');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    padding: 55px 40px 40px 55px;
    min-height: 410px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include adpt($big-r) {
      width: 580px;
      min-width: 580px;
    }

    @include adpt(1180) {
      width: 100%;
      max-width: 500px;
      min-width: initial;
      min-height: 220px;
      padding: 20px;
    }

    &::after {
      content: "";
      position: absolute;
      top: -1px;
      left: -1px;
      width: 100%;
      height: 100%;
      opacity: 0.5;
      border-radius: 30px;
      background-color: $accent-2;
      z-index: -1;
    }
  }

  &__right-blocked {
    position: absolute;
    top: 50px;
    right: 50px;
    width: 30%;
    max-width: 220px;

    @include adpt(1180) {
      top: 20px;
      right: 20px;
    }

    img {
      width: 100%;
      height: auto;
      -o-object-fit: contain;
      object-fit: contain;
    }
  }

  &__info {
    position: absolute;
    top: 70px;
    right: 310px;
    width: 650px;
    height: auto;
    opacity: 0;
    pointer-events: none;
    visibility: hidden;
    background-color: #363A45;
    transition: all 0.3s;
    z-index: 3;
    padding: 90px 70px;

    @include adpt(1800) {
      right: 25px;
    }

    @include adpt($big-r) {
      width: 582px;
    }

    @include adpt(1180) {
      width: calc(100% - 48px);
      left: 24px;
      top: 50px;
      padding: 50px 25px;
    }

    &._show {
      opacity: 1;
      pointer-events: all;
      visibility: visible;
    }
  }

  &__info-close {
    position: absolute;
    top: 30px;
    right: 30px;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(25px);
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    transition: background-color 0.3s;

    @include adpt(1180) {
      width: 50px;
      height: 50px;
      top: 20px;
      right: 20px;
    }

    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }

  &__right-title {
    margin-bottom: 20px;

    & svg {
      @include adpt(1180) {
        width: 90px;
        object-fit: contain;
      }
    }
  }

  &__bottom {
    overflow: hidden;
  }

  &__right-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__coming-soon {
    color: $accent-2;
    max-width: 390px;
    opacity: 0.3;
    font-style: italic;
    font-size: 40px;
    line-height: 0.8;
    font-family: 'SaolDisplay', sans-serif;

    @include adpt(1180) {
      font-size: 25px;
    }

    & span {
      margin-top: 10px;
      display: block;
      line-height: 1;
      font-size: 18px;
      font-family: 'UntitledSans', sans-serif;
      font-weight: 300;
      font-style: normal;

      @include adpt(1180) {
        font-size: 14px;
      }
    }
  }

  &__quest {
    width: 70px;
    height: 70px;
    border-radius: 50%;
    background: rgba(215, 174, 156, 0.15);
    display: flex;
    justify-content: center;
    align-items: center;

    @include adpt(1180) {
      width: 50px;
      height: 50px;
    }
  }

  &__info-title {
    font-size: 70px;
    line-height: 1;
    font-family: 'SaolDisplay', sans-serif;
    margin-bottom: 50px;

    @include adpt(1180) {
      margin-bottom: 30px;
      font-size: 30px;
    }
  }

  &__list {
    ul {
      li {
        &:not(:last-child) {
          @include adptmob($desm-r) {
            margin-bottom: 40px;
          }
        }
      }
    }
  }
}