:root {
  --border-color: rgba(235, 235, 235, .1);
  --color-text: #ebebeb;
}

.earth-community {
  background: linear-gradient(0deg, #3E4C3D, #3E4C3D), #37473A;
  @include flexbox;
  overflow: hidden;
  @include adpt($mtab-r) {
    padding: 0 25px;
  }

  &__grid {
    padding: 70px 0 0 0;
    width: 100%;
    @include adptmob($mtab-r) {
      @include flex(1, 1, auto);
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      grid-gap: 90px 0;
      padding: 70px 0 0 0;
    }

    @include adptmob($big-r) {
      grid-gap: 150px 0;
      padding: 90px 0 0 0;
    }

    @include adpt($mtab-r) {
      @include flexbox;
      @include flex-direction(column);
    }
  }

  &__grid-item {
    &:nth-child(1) {
      @include adptmob($mtab-r) {
        padding: 20px 40px 11px 25px;
      }
      @include adptmob($big-r) {
        margin-left: 150px;
        padding: 60px 60px 11px 0;
      }

      .earth-community__subtitle {
        margin-top: 5px;
        margin-bottom: 20px;
        @include adptmob($mtab-r) {
          margin-bottom: 85px;
        }
      }
    }

    &:nth-child(2) {
      border-top: 1px solid var(--border-color);
      border-bottom: 1px solid var(--border-color);
      padding: 30px 0;
      @include adptmob($mtab-r) {
        border-left: 1px solid var(--border-color);
        border-right: 1px solid var(--border-color);
        border-top: 0;
        border-bottom: 0;
        padding: 79px;
        @include flexbox;
        @include align-items(center);
        @include justify-content(center);
      }

      .earth-community__img {
        @include adpt($mtab-r) {
          -webkit-transform: translateX(10%);
          -moz-transform: translateX(10%);
          -ms-transform: translateX(10%);
          -o-transform: translateX(10%);
          transform: translateX(10%);
          margin: 0 -32px;
        }
      }

      img {
        border-radius: 50%;
        width: 100%;
        height: 100%;
        -o-object-fit: contain;
        object-fit: contain;
      }
    }

    &:nth-child(3) {
      margin-right: 40px;

      @include adptmob($big-r) {
        margin-right: 60px;
      }

      @include adpt($mtab-r) {
        order: 4;
        margin-left: -25px;
        margin-right: 0;
      }

      img {
        width: 100%;
        height: 100%;
        -o-object-fit: cover;
        object-fit: cover;
      }
    }

    &:nth-child(4) {
      padding: 50px 0;
      position: relative;

      @include adptmob($mtab-r) {
        margin: 90px 0 90px 40px;
        padding: 0 75px 0 0;
        &:before {
          content: '';
          position: absolute;
          top: -90px;
          left: 0;
          background: var(--border-color);
          width: 100%;
          height: 1px;
        }
      }

      @include adptmob($big-r) {
        margin: 150px 0 150px 139px;
        padding-bottom: 90px;
        border-right: 1px solid var(--border-color);
        &:before {
          top: -150px;
          max-width: 500px;
        }
      }

      .earth-community__title {
        font-size: 90px;
        @include adpt($big-r) {
          font-size: 80px;
        }

        @include adpt($tab-r) {
          font-size: 70px;
        }

        @include adpt($bmob-r) {
          font-size: 60px;
        }
      }

      .earth-community__subtitle {
        font-style: normal;
        color: #D7AE9C;
      }
    }
  }

  &__title {
    font-family: 'SaolDisplay', sans-serif;
    font-weight: 400;
    font-size: 70px;
    line-height: 1;
    color: var(--color-text);
    @include adpt($big-r) {
      font-size: 60px;
    }

    @include adpt($tab-r) {
      font-size: 55px;
    }

    @include adpt($bmob-r) {
      font-size: 45px;
    }
  }

  &__subtitle {
    font-family: 'SaolDisplay', sans-serif;
    font-style: italic;
    font-weight: 300;
    font-size: 90px;
    line-height: 1;
    color: #A6857E;
    @include adpt($big-r) {
      font-size: 80px;
    }

    @include adpt($tab-r) {
      font-size: 70px;
    }

    @include adpt($bmob-r) {
      font-size: 50px;
    }

    &._offset-60 {
      margin-left: 30px;

      @include adpt($mtab-r) {
        margin-left: 60px;
      }
    }
  }

  &__description {
    border-top: 1px solid var(--border-color);
    padding: 30px 0;
    font-family: 'UntitledSans', sans-serif;
    font-weight: 400;
    font-size: 19px;
    line-height: 1.4;
    color: var(--color-text);

    @include adptmob($mtab-r) {
      font-size: 26px;
      max-width: 500px;
      padding: 79px 0;
    }

    p {
      &:not(:last-child) {
        margin-bottom: 20px;
        @include adptmob($mtab-r) {
          margin-bottom: 30px;
        }
      }
    }
  }

  &__description-2 {
    font-family: 'UntitledSans', sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 1.4;
    color: var(--color-text);
    margin-top: 30px;

    @include adptmob($mtab-r) {
      font-size: 20px;
      margin-top: 50px;
    }

    p {
      &:not(:last-child) {
        margin-bottom: 20px;
        @include adptmob($mtab-r) {
          margin-bottom: 30px;
        }
      }
    }
  }

  &__right-text {
    display: none;
    @include adptmob(1600) {
      display: block;
      margin-top: 150px;
      @include flex(0, 0, 290px);

      img {
        margin: 0 auto;
        width: 140px;
        height: auto;
      }
    }
  }

  &__list {
    margin: 50px 0 0 0;
  }
}