.find {
  position: relative;
  color: #fff;
  background: #3e4c3d;
}

.find__box {
  max-width: 1670px;
  padding: 26px 25px 34px;
  margin: 0 auto;
  position: relative;
  text-align: center;
}

.find__video {
  position: relative;
  overflow: hidden;
  margin: 0 auto;
  padding-bottom: 56.25%;

  iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    border: 0;
    transform: translate(-50%, -50%);

    @media screen and (orientation: landscape) {
      @supports (aspect-ratio: 16/9) {
        height: auto;
        max-height: 100%;
        aspect-ratio: 1082/609;
      }
    }
  }
}

.find__video-link {
  display: block;

  &::before {
    content: '';
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    z-index: 2;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.6);
    border: 1px solid rgba(255, 255, 255, 0.3);
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    background-image: url('../images/shared/play.svg');
    background-size: 20px 20px;
    background-position: center center;
    background-repeat: no-repeat;
    transform: translate(-50%, -50%);
    -webkit-transition: background-color .3s;
    -moz-transition: background-color .3s;
    -ms-transition: background-color .3s;
    -o-transition: background-color .3s;
    transition: background-color .3s;
  }

  &[hidden] {
    display: block !important;
    pointer-events: none;
    opacity: 0;
  }

  &:hover {
    &:before {
      background-color: #fff;
    }
  }
}

.find__video-poster {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  object-fit: cover;
}

.find__caption {
  display: inline-block;
  position: relative;
  z-index: 2;
  font-family: 'SaolDisplay', serif;
  font-size: 60px;
  font-style: normal;
  font-weight: 300;
  line-height: 100%;
  text-align: center;
}

//############################################################################
//------------------------- MEDIA QUERIES
//############################################################################
@media (min-width: #{map-get($grid-breakpoints, lg)}) {
  .find {
    background: #3e4c3d url('../images/find/bg.svg') no-repeat;
    background-size: contain;
  }

  .find__box {
    padding-top: 90px;
    padding-bottom: 50px;
  }

  .find__video {
    padding-bottom: 44.44%;
    margin-bottom: -100px;
  }

  .find__video-link {
    &::before {
      background-size: 36px 36px;
      width: 120px;
      height: 120px;
    }
  }

  .find__caption {
    font-size: 140px;
  }
} // lg
