.first-screen {
  position: relative;
  height: initial;

  &__bg {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -2;
  }

  &__bg-img {
    object-fit: cover;
    width: 100%;
    height: 100%;
  }

  &__content {
    position: relative;
    @include flexbox;
    @include justify-content(space-between);
    height: 100%;
    min-height: 100vh;
    padding: 40px 40px 45px 40px;
    overflow: hidden;
    color: $white;
    pointer-events: all;

    @include adptmob($big-r) {
      @include align-items(center);
    }

    @include adpt($big-r) {
      @include flex-direction(column);
      padding: 30px 25px 40px;
    }

    @include adpt($stab-r) {
      padding-bottom: 170px;
    }

    @include adpt($bmob-r) {
      padding: 20px 25px 170px;
    }

    &::after {
      position: absolute;
      top: 0;
      bottom: 0;
      left: 50%;
      width: 100%;
      max-width: 1390px;
      height: 100%;
      z-index: -1;
      pointer-events: none;
      visibility: visible;
      content: "";
      background-image: url("../images/decor/head-main.svg");
      background-repeat: no-repeat;
      background-position: center;
      background-size: auto 100%;
      transform: translateX(-50%);

      @include adpt($bmob-r) {
        background-image: url("../images/decor/head-main-mob.svg");
        background-position: center 35px;
      }
    }
  }

  &__bottom {
    display: flex;
    justify-content: center;
    pointer-events: all;
    visibility: visible;
    transition: opacity 0.3s;

    @include adpt($stab-r) {
      justify-content: flex-start;
      padding-left: 40px;
    }
  }

  &__arrow {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 40px;
    height: 40px;
    background-color: $white;
    border-radius: 50%;

    @include adptmob($big-r) {
      position: absolute;
      bottom: 40px;
      left: 50%;
      margin-left: -20px;
    }
  }

  &__arrow-img {
    object-fit: contain;
    width: 12px;
    height: auto;
  }

  &__center {
    display: flex;
    flex: 1;
    justify-content: space-between;
    width: 100%;
    max-width: 1490px;
    padding-top: 190px;
    padding-bottom: 100px;
    text-align: center;
    pointer-events: all;
    visibility: visible;
    transition: opacity 0.3s;

    @include adpt($big-r) {
      padding: 115px 0 90px;
    }

    @include adpt($tab-r) {
      padding: 115px 0 50px;
    }

    @include adpt($stab-r) {
      flex-direction: column;
      padding-bottom: 90px;
    }

    @include adpt($bmob-r) {
      padding-bottom: 80px;
    }
  }

  &__center-content {
    max-width: 800px;
    font-family: SaolDisplay, sans-serif;
    font-size: 110px;
    font-weight: 300;
    line-height: 1.05;

    @include adpt($big-r) {
      position: relative;
      max-width: 590px;
      margin: auto 0;
      font-size: 80px;
    }

    @include adpt($tab-r) {
      max-width: 460px;
      font-size: 65px;
    }

    @include adpt($stab-r) {
      margin: 0 auto;
      margin-bottom: 24px;
    }

    @include adpt($bmob-r) {
      margin-bottom: 10px;
      font-size: 50px;
    }

    & ._us {
      font-family: UntitledSans, sans-serif;
      font-weight: 300;
      line-height: 0.7;
    }

    & ._italic {
      font-style: italic;
    }
  }

  &__column {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 250px;

    @include adpt($tab-r) {
      max-width: 215px;
    }
  }

  &__circle {
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 200px;
    height: 200px;
    padding: 30px;
    font-size: 21px;
    font-weight: 500;
    color: $default;
    text-transform: uppercase;
    cursor: pointer;
    border-radius: 50%;
    transition: background-color 0.3s, transform 0.3s;

    @include adpt($big-r) {
      width: 150px;
      height: 150px;
      font-size: 18px;
    }

    @include adpt($tab-r) {
      display: flex;
      flex-direction: column;
      width: 140px;
      height: 140px;
      padding: 5px;
      font-size: 16px;
    }

    @include adpt($bmob-r) {
      width: 120px;
      height: 120px;
    }

    &_big {
      width: 250px;
      height: 250px;

      @include adpt($big-r) {
        width: 200px;
        height: 200px;
      }

      @include adpt($tab-r) {
        width: 110px;
        height: 110px;
        word-break: keep-all;
        word-wrap: break-word;
        overflow-wrap: normal;
      }

      @include adpt($bmob-r) {
        width: 100px;
        height: 100px;
      }
    }

    &_blue {
      background-color: #b5d8d6;

      &:hover {
        background-color: #cbe9e7;
      }
    }

    &_orange {
      background-color: #f0bb82;

      &:hover {
        background-color: #f8cc9d;
      }

      @include adpt($stab-r) {
        position: absolute;
        top: calc(100% + 40px);
        right: 0;
      }
    }

    &:hover {
      transform: scale(1.1);
    }
  }

  &__center-right {
    max-width: 230px;

    @include adpt($stab-r) {
      max-width: 100%;
    }

    &.first-screen__column {
      justify-content: flex-end;
    }
  }

  &__center-left {
    transform: translate(20px, -110px);

    @include adpt($big-r) {
      transform: translateX(0);
    }

    @include adpt($stab-r) {
      align-items: flex-start;
      margin-bottom: 40px;
    }

    @include adpt($bmob-r) {
      margin-bottom: 10px;
    }
  }

  &__locations {
    position: absolute;
    bottom: 25px;
    left: 25px;

    @include adptmob($stab-r) {
      bottom: 40px;
      left: 40px;
    }
  }

  &__link-btn {
    padding: 15px 25px;
    font-size: 15px;
    font-weight: 500;
    line-height: 1.2;
    text-transform: uppercase;
    letter-spacing: 0.05em;
    background-color: rgb(255 255 255 / 10%);
    border: 1px solid rgb(255 255 255 / 15%);
    transition: background-color 0.3s;
    backdrop-filter: blur(25px);

    &:hover {
      background-color: rgb(255 255 255 / 20%);
    }
  }
}