.footer {
  background: #363A45;

  &_theme-green {
    background: linear-gradient(0deg, #3E4C3D, #3E4C3D), #37473A;

    .footer__inner {
      border-top: 1px solid rgba(235, 235, 235, .1);
    }
  }

  &__inner {
    margin-left: 25px;
    margin-right: 25px;
    position: relative;
    padding: 70px 0 60px;
    @include adptmob($stab-r) {
      @include flexbox;
      @include justify-content(space-between);
      gap: 40px;
      padding: 90px 0 70px;
    }

    @include adptmob($big-r) {
      margin-left: 150px;
      margin-right: 150px;
    }
  }

  &__left {
    text-align: center;
    @include adptmob($stab-r) {
      text-align: left;
    }
    @include adptmob($desm-r) {
      @include flexbox;
    }

    .footer {
      &__logo {
        width: 80px;
        height: auto;
        margin: 0 0 40px 0;

        @include adptmob($stab-r) {
          margin: 5px 60px 20px 0;
        }

        img {
          opacity: 0.5;
          -webkit-transition: opacity .3s;
          -moz-transition: opacity .3s;
          -ms-transition: opacity .3s;
          -o-transition: opacity .3s;
          transition: opacity .3s;
        }

        &:hover {
          img {
            opacity: 1;
          }
        }
      }

      &__copyright {
        font-size: 15px;
        color: rgba(255, 255, 255, .5);
        margin-top: 10px;
        @include adpt($stab-r) {
          margin-bottom: 60px;
        }

        .copyright {
          margin-bottom: 20px;
        }

        p {
          max-width: 340px;
          @include adpt($stab-r) {
            margin: 0 auto;
          }
        }
      }
    }
  }

  &__center {
    margin-bottom: 60px;
    @include adptmob($mtab-r) {
      margin: -15px 0 0 0;
    }

    .footer {

      &__menu {
        display: grid;
        grid-template-columns: repeat(2, 1fr);
        grid-gap: 30px;
        @include adptmob($bmob-r) {
          grid-template-columns: repeat(4, 1fr);
        }
        @include adptmob($stab-r) {
          grid-template-columns: repeat(2, 1fr);
        }
        @include adptmob($mtab-r) {
          @include flexbox;
          @include align-items(center);
          @include flex-wrap(wrap);
          max-width: 500px;
          grid-gap: 0;
        }

        li {
          @include adptmob($mtab-r) {
            margin: 20px 50px 20px 0;
          }

          @include adpt($stab-r) {
            text-align: center;
          }

          &:last-child {
            margin-right: 0;
          }

          a {
            font-size: 15px;
            color: rgba(255, 255, 255, .5);

            &:hover {
              color: #fff;
            }
          }
        }
      }
    }
  }

  &__right {
    @include flex(0, 1, 200px);
    @include flexbox;
    @include flex-direction(column);
    @include align-items(center);

    .footer {
      &__btn {
        background: rgba(255, 255, 255, 0.05);
        border: 1px solid rgba(255, 255, 255, 0.1);
        backdrop-filter: blur(25px);
        font-weight: 700;
        font-size: 15px;
        line-height: 1.2;
        letter-spacing: 0.05em;
        text-transform: uppercase;
        color: #fff;
        padding: 15px 25px;
        width: 100%;
        text-align: center;
        -webkit-transition: background .3s;
        -moz-transition: background .3s;
        -ms-transition: background .3s;
        -o-transition: background .3s;
        transition: background .3s;

        @include adpt($stab-r) {
          max-width: 270px;
        }

        &:hover {
          background: rgba(255, 255, 255, 0.2);
        }
      }

      &__social-links {
        @include flexbox;
        @include align-items(center);
        @include justify-content(center);
        margin-top: 13px;
        @include adpt($stab-r) {
          margin-top: 30px;
        }

        a {
          width: 40px;
          height: 40px;

          &:not(:last-child) {
            margin-right: 5px;
            @include adpt($stab-r) {
              margin-right: 10px;
            }
          }

          img {
            opacity: 0.5;
            -webkit-transition: all .3s;
            -moz-transition: all .3s;
            -ms-transition: all .3s;
            -o-transition: all .3s;
            transition: all .3s;
          }

          &:hover {
            img {
              opacity: 1;
            }
          }
        }
      }
    }
  }
}