.form {
  position: relative;
  @include adptmob($mtab-r) {
    @include flexbox;
  }

  &__field {
    position: relative;
    @include adptmob($mtab-r) {
      margin-right: 30px;
    }
    @include adpt($mtab-r) {
      margin-bottom: 20px;
    }

    .form-input {
      width: 100%;
      border: none;
      border-bottom: 2px solid rgba(181, 216, 214, .7);
      background-color: transparent;
      font-family: 'UntitledSans', sans-serif;
      font-weight: 400;
      font-size: 20px;
      color: #FFFFFF;
      height: 40px;
      position: relative;
      -webkit-transition: border-bottom-color .3s;
      -moz-transition: border-bottom-color .3s;
      -ms-transition: border-bottom-color .3s;
      -o-transition: border-bottom-color .3s;
      transition: border-bottom-color .3s;
      @include adptmob($bmob-r) {
        font-size: 22px;
        height: 50px;
      }

      @include adptmob($mtab-r) {
        font-size: 26px;
        height: 60px;
        max-width: 300px;
      }

      &::-webkit-input-placeholder { /* Chrome/Opera/Safari */
        color: rgba(181, 216, 214, .7);
      }

      &::-moz-placeholder { /* Firefox 19+ */
        color: rgba(181, 216, 214, .7);
      }

      &:-ms-input-placeholder { /* IE 10+ */
        color: rgba(181, 216, 214, .7);
      }

      &:-moz-placeholder { /* Firefox 18- */
        color: rgba(181, 216, 214, .7);
      }

      &:focus, &:active, &.input-active {
        border: none;
        outline: none;
        border-bottom: 2px solid #fff;
      }
    }

    input[type="radio"]:checked,
    input[type="radio"]:not(:checked),
    input[type="checkbox"]:checked,
    input[type="checkbox"]:not(:checked) {
      position: absolute;
      left: -9999px;
    }

    input[type="radio"]:checked + label,
    input[type="radio"]:not(:checked) + label,
    input[type="checkbox"]:checked + label,
    input[type="checkbox"]:not(:checked) + label {
      position: relative;
      padding-left: 35px;
      cursor: pointer;
      font-family: 'UntitledSans', sans-serif;
      font-weight: 500;
      font-size: 15px;
      line-height: 1.4;
      display: inline-block;
      color: #738471;
      @include adptmob($bmob-r) {
        font-size: 18px;
      }

      @include adptmob($mtab-r) {
        padding-left: 45px;
      }
    }

    input[type="radio"]:checked + label:before,
    input[type="radio"]:not(:checked) + label:before,
    input[type="checkbox"]:checked + label:before,
    input[type="checkbox"]:not(:checked) + label:before {
      content: "";
      position: absolute;
      left: 0;
      top: 1px;
      width: 20px;
      height: 20px;
      border: 2px solid #F0BB82;
      background: transparent;
      border-radius: 50%;

      @include adptmob($mtab-r) {
        top: -4px;
        width: 30px;
        height: 30px;
      }
    }

    input[type="radio"]:checked + label:after,
    input[type="radio"]:not(:checked) + label:after,
    input[type="checkbox"]:checked + label:after,
    input[type="checkbox"]:not(:checked) + label:after {
      content: "";
      width: 12px;
      height: 12px;
      position: absolute;
      top: 5px;
      left: 4px;
      border-radius: 50%;
      -webkit-transition: all 0.2s ease;
      -moz-transition: all 0.2s ease;
      -o-transition: all 0.2s ease;
      transition: all 0.2s ease;

      @include adptmob($mtab-r) {
        top: 1px;
        left: 5px;
        width: 20px;
        height: 20px;
      }
    }

    input[type="radio"]:checked + label:after,
    input[type="radio"]:not(:checked) + label:after,
    input[type="checkbox"]:checked + label:after,
    input[type="checkbox"]:not(:checked) + label:after {
      background: #F0BB82;
    }

    input[type="radio"]:not(:checked) + label:after,
    input[type="checkbox"]:not(:checked) + label:after {
      opacity: 0;
      -webkit-transform: scale(0);
      -moz-transform: scale(0);
      -ms-transform: scale(0);
      -o-transform: scale(0);
      transform: scale(0);
    }

    [type="radio"]:checked + label:after,
    .common-form-check input[type="ch"]:checked + label:after,
    .common-form-check input[type="checkbox"]:checked + label:after {
      opacity: 1;
      -webkit-transform: scale(1);
      -moz-transform: scale(1);
      -ms-transform: scale(1);
      -o-transform: scale(1);
      transform: scale(1);
    }

    label {
      a {
        display: inline;
        text-decoration: underline;

        &:hover {
          text-decoration: none;
        }
      }
    }

    .error-message {
      display: none;
      font-weight: 400;
      font-size: 15px;
      line-height: 1.4;
      color: #fff;
      position: absolute;
      top: -9px;
      left: 0;
    }
  }

  &__field_error {
    .form-input {
      color: #A6857E;
      border-bottom-color: #A6857E;
    }

    input[type="radio"]:checked + label:before,
    input[type="radio"]:not(:checked) + label:before,
    input[type="checkbox"]:checked + label:before,
    input[type="checkbox"]:not(:checked) + label:before {
      border-color: #A6857E;
    }

    input[type="radio"]:checked + label:after,
    input[type="radio"]:not(:checked) + label:after,
    input[type="checkbox"]:checked + label:after,
    input[type="checkbox"]:not(:checked) + label:after {
      background-color: #A6857E;
    }
  }

  .agreement {
    margin-top: 50px;
    @include adptmob($mtab-r) {
      position: absolute;
      top: 59%;
      left: 0;
      margin-top: 0;
    }
  }

  &__submit {
    @include adptmob($mtab-r) {
      margin: -10px 0 0 30px;
    }

    button {
      border-radius: 50%;
      padding: 30px;
      color: $default;
      text-transform: uppercase;
      font-weight: 700;
      font-size: 14px;
      width: 140px;
      height: 140px;
      background-color: #f0bb82;
      @include flexbox;
      @include justify-content(center);
      @include align-items(center);
      cursor: pointer;
      -webkit-transition: background-color .3s, transform .3s;
      -moz-transition: background-color .3s, transform .3s;
      -ms-transition: background-color .3s, transform .3s;
      -o-transition: background-color .3s, transform .3s;
      transition: background-color .3s, transform .3s;
      @include adptmob($mtab-r) {
        font-size: 21px;
        width: 200px;
        height: 200px;
      }

      &:not(:disabled):hover {
        background-color: #F8CC9D;
        -webkit-transform: scale(1.067);
        -ms-transform: scale(1.066666667);
        transform: scale(1.066666667);
      }

      &:disabled {
        background-color: rgba(240, 187, 130, .5);
        color: #3E4C3D;
      }

      @include adpt($mtab-r) {
        margin-top: 30px;
        margin-left: auto;
      }
    }
  }
}