.future {
  position: relative;
  min-height: 670px;
  color: #fff;
  background:#363A45 url('../images/future/bg.svg') 50% 50% no-repeat;
  background-size: auto 535px;
}

.future__box {
  position: relative;
  max-width: 1340px;
  padding: 120px 25px 213px;
  margin: 0 auto;
}

.future__title {
  margin: 0 0 30px;
  font-family: 'SaolDisplay', serif;
  font-size: 54px;
  font-weight: 300;
  line-height: 100%;

  .string1 {
    display: block;
    margin: 5px 0 0;
    font-size: 54px;
    font-style: italic;
    font-weight: 300;
    line-height: 100%;
  }
}

.future__text {
  padding-left: 30px;
  font-size: 20px;
  line-height: 140%;
}

.future__img1 {
  position: absolute;
  top: 0;
  right: 50px;
  width: 70px;
  object-fit: cover;
}

.future__img2 {
  position: absolute;
  bottom: 60px;
  left: 50px;
  border-radius: 50%;
  width: 110px;
  height: 110px;
  object-fit: cover;
}

//############################################################################
//------------------------- MEDIA QUERIES
//############################################################################
@include adptmob($stab-r) {
  .future {
    background-position: 50% -110px;
    background-size: auto;
  }

  .future__box {
    padding-top: 220px;
    padding-bottom: 280px;
  }

  .future__title {
    font-size: 70px;

    .string1 {
      margin-top: 26px;
      font-size: inherit;
    }
  }

  .future__text {
    padding: 0;
    margin-top: -50px;
    margin-left: 400px;
    font-size: 22px;
  }

  .future__img1 {
    top: -50px;
    width: 180px;
  }

  .future__img2 {
    bottom: 110px;
    left: 12.7%;
    width: 160px;
    height: 160px;
  }

  .d-md-none {
    display: none !important;
  }
}

@include adptmob($desm-r) {
  .future__title {
    font-size: 120px;
  }

  .future__text {
    max-width: 410px;
    margin-top: -75px;
    margin-left: 850px;
    font-size: 26px;
  }
}
