.gallery {
  background-color: $bg-img;
  padding: 90px 0;
  overflow: hidden;

  @include adpt($big-r) {
    padding: 70px 0;
  }

  @include adpt($tab-r) {
    padding: 50px 0;
  }

  @include adpt($bmob-r) {
    padding: 30px 0;
  }

  &__inner {
    margin-left: -45px;
    margin-right: -45px;
    position: relative;

    @include adptmob($big-r) {
      margin-left: 150px;
      margin-right: 150px;
    }
  }

  &__grid {
    display: flex;
    flex-wrap: wrap;
    overflow: hidden;
    margin: -9px;
    @include adptmob($tab-r) {
      margin: -15px;
    }

    @include adptmob($big-r) {
      margin: -30px;
    }
  }

  &__grid-item {
    height: auto;
    padding: 9px;
    @include adptmob($tab-r) {
      padding: 15px;
    }
    @include adptmob($big-r) {
      padding: 30px;
    }

    img {
      -o-object-fit: cover;
      object-fit: cover;
      width: 100%;
      height: 100%;
    }
  }

  &__grid-item {
    &:nth-child(1), &:nth-child(3), &:nth-child(5), &:nth-child(7) {
      width: 25%;
    }

    &:nth-child(2) {
      width: 50%;

      img {
        aspect-ratio: 78/36;
      }
    }

    &:nth-child(4), &:nth-child(9) {
      width: 33%;

      img {
        aspect-ratio: 50/36;
      }
    }

    &:nth-child(6), &:nth-child(8) {
      width: 42%;

      img {
        aspect-ratio: 64/36;
      }
    }
  }
}