.get-whitelist {
  padding: 180px 0;
  background-color: $bg-img;
  background-image: url('../images/whitelist/bg.jpg');
  background-size: cover;
  background-position: 75% center;
  background-repeat: no-repeat;

  @include adpt($big-r) {
    padding: 150px 0;
  }

  @include adpt($tab-r) {
    padding: 100px 0;
  }

  @include adpt($bmob-r) {
    padding: 70px 0 25px;
    background-position: 60% center;
  }


  &__inner {
    margin-left: 25px;
    margin-right: 25px;
    position: relative;

    @include adptmob($big-r) {
      margin-left: 150px;
      margin-right: 150px;
    }
  }

  &__content {
    max-width: 640px;
    margin-left: auto;

    @include adpt($stab-r) {
      max-width: 80%;
      min-width: 270px;
    }
  }

  &__title {
    font-family: 'SaolDisplay', sans-serif;
    font-weight: 300;
    font-size: 90px;
    line-height: 1;
    color: #B5D8D6;
    text-transform: uppercase;

    @include adpt($big-r) {
      font-size: 80px;
    }

    @include adpt($tab-r) {
      font-size: 70px;
    }

    @include adpt($stab-r) {
      font-size: 55px;
    }

    @include adpt($bmob-r) {
      font-size: 45px;
    }

    em {
      display: inline-block;
      font-size: 70px;
      line-height: 1;
      font-style: italic;
      color: $white;
      margin-bottom: 10px;
      text-transform: none;
      @include adpt($big-r) {
        font-size: 60px;
      }

      @include adpt($tab-r) {
        font-size: 50px;
      }

      @include adpt($stab-r) {
        font-size: 46px;
      }

      @include adpt($bmob-r) {
        font-size: 36px;
      }
    }
  }

  &__list {
    margin: 50px 70px 0 0;

    @include adpt($stab-r) {
      margin: 30px 0 0 0;
    }
  }

  &__link-btn {
    @include adptmob($tab-r) {
      position: absolute;
      top: 60%;
      left: 0;
      -webkit-transform: translateY(-50%);
      -moz-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
      -o-transform: translateY(-50%);
      transform: translateY(-50%);
    }

    a {
      display: block;
      border-radius: 50%;
      background-color: rgba(255, 255, 255, 0.1);
      border: 2px solid rgba(255, 255, 255, 0.15);
      -webkit-backdrop-filter: blur(25px);
      backdrop-filter: blur(25px);
      width: 300px;
      height: 300px;
      display: -webkit-flex;
      display: -moz-flex;
      display: -ms-flexbox;
      display: -o-flex;
      display: flex;
      -webkit-flex-direction: column;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-align-items: center;
      align-items: center;
      -webkit-justify-content: center;
      justify-content: center;
      -webkit-transition: background-color .3s, transform .3s;
      -moz-transition: background-color .3s;
      -ms-transition: background-color .3s;
      -o-transition: background-color .3s, transform .3s;
      transition: background-color .3s, transform .3s;
      text-align: center;
      color: $white;
      font-weight: 700;
      font-size: 21px;
      line-height: 130%;
      text-transform: uppercase;

      @include adpt($tab-r) {
        font-size: 18px;
        height: 240px;
        width: 240px;
      }

      @include adpt($stab-r) {
        font-size: 14px;
        height: 160px;
        width: 160px;
      }

      &:hover {
        -webkit-transform: scale(1.067);
        -ms-transform: scale(1.066666667);
        transform: scale(1.066666667);
        background-color: rgba(255, 255, 255, 0.2);
      }
    }
  }

  &__social-link {
    @include flexbox;
    @include justify-content(flex-end);
    @include align-items(center);
    @include flex-wrap(wrap);
    gap: 25px;
    margin: 50px 65px 0 0;

    @include adpt($stab-r) {
      margin: 30px 20px 0 40px;
      gap: 15px;
    }

    li {
      a {
        @include flexbox;
        @include justify-content(center);
        @include align-items(center);
        margin-left: auto;
        height: 70px;
        width: 70px;
        background-color: rgba(255, 255, 255, 0.1);
        border: 1px solid rgba(255, 255, 255, 0.15);
        -webkit-backdrop-filter: blur(25px);
        backdrop-filter: blur(25px);
        border-radius: 50%;
        -webkit-transition: background-color .3s;
        -moz-transition: background-color .3s;
        -ms-transition: background-color .3s;
        -o-transition: background-color .3s;
        transition: background-color .3s;

        @include adpt($stab-r) {
          height: 50px;
          width: 50px;
        }

        &:hover {
          background: rgba(255, 255, 255, 0.2);
        }

        img {
          width: 25px;
          height: auto;
          @include adpt($stab-r) {
            width: 18px;
          }
        }
      }
    }
  }
}