.header {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;

  &__content {
    position: relative;
    @include flexbox;
    @include align-items(center);
    @include justify-content(space-between);
    padding: 40px 40px 0;
    pointer-events: all;
    font-size: 15px;
    font-weight: 500;
    line-height: 18px;
    color: $white;
    text-transform: uppercase;
    visibility: visible;
    transition: opacity 0.3s;

    @include adpt($big-r) {
      padding: 30px 25px 0;
    }

    @include adpt($bmob-r) {
      padding: 20px 25px 0;
    }

    &._hide {
      z-index: 6;
      pointer-events: none;
      visibility: hidden;
      opacity: 0;

      @include adpt($bmob-r) {
        position: fixed;
        right: 0;
        left: 0;
        pointer-events: all;
        visibility: visible;
        opacity: 1;
      }
    }
  }

  &__burger {
    position: fixed;
    top: 29px;
    @include adptmob($bmob-r) {
      top: 49px;
    }

    @include adptmob($big-r) {
      top: 56px;
      left: 40px;
    }

    &:hover {
      .burger__text {
        margin-left: 6px;
      }
    }
  }

  &__burger-wrap {
    flex: 1;
  }

  &__wallet-wrap {
    display: flex;
    flex: 1;
    justify-content: flex-end;
  }

  &__logo-wrap {
    display: flex;
    flex: 1;
    justify-content: center;
  }

  &__wallet {
    padding: 15px 25px;
    background-color: rgb(255 255 255 / 10%);
    backdrop-filter: blur(25px);
    border: 1px solid rgb(255 255 255 / 15%);
    transition: background-color 0.3s;

    &:hover {
      background-color: rgb(255 255 255 / 20%);
    }

    @include adpt($stab-r) {
      padding: 12px 15px;
    }

    @include adpt($bmob-r) {
      padding: 5px 0 5px 15px;
      background-color: transparent;
      border: none;
      backdrop-filter: none;
    }
  }

  &__wallet-text {
    @include adpt($bmob-r) {
      display: none;
    }
  }

  &__wallet-img {
    display: none;

    @include adpt($bmob-r) {
      display: block;
    }
  }

  &__logo {
    max-width: 90px;

    @include adpt($bmob-r) {
      max-width: 80px;
    }
  }

  &__menu {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 5;
    width: 100%;
    height: 100vh;
    pointer-events: none;
    visibility: hidden;
    background-color: #363a45f5;
    opacity: 0;
    transition: opacity 0.8s ease;

    &._open {
      pointer-events: all;
      visibility: visible;
      opacity: 1;
    }
  }
}

.header--float {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 3;
  width: 100%;

  .header__content {
    min-height: auto;
    padding-bottom: 0;

    &::after {
      display: none;
    }
  }
}
