.howto-info {
  font-size: 17px;
  font-weight: 400;
  line-height: 140%;
  color: #fff;
  background: #738471 no-repeat;
}

.howto-info__box {
  max-width: (1620px + 50);
  padding: 70px 25px 30px;
  margin: 0 auto;
}

.howto-info__title {
  margin: 0 0 20px;
  font-size: 36px;
  font-weight: 400;
  line-height: 120%;

  .string1 {
    display: block;
    font-family: SaolDisplay, serif;
    font-weight: 300;
    line-height: 100%;
  }

  .string2 {
    display: block;
    margin: 5px 0;
  }
}

.howto-info__video {
  position: relative;
  margin: 40px auto 0;
  overflow: hidden;

  iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    border: 0;
    transform: translate(-50%, -50%);

    @media screen and (orientation: landscape) {
      @supports (aspect-ratio: 16/9) {
        height: auto;
        max-height: 100%;
        aspect-ratio: 1082/609;
      }
    }
  }
}

.howto-info__video-link {
  display: block;

  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    z-index: 2;
    width: 70px;
    height: 70px;
    content: "";
    background-color: rgb(255 255 255 / 60%);
    background-image: url("../images/shared/play.svg");
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 20px 20px;
    border: 1px solid rgb(255 255 255 / 30%);
    border-radius: 50%;
    transition: background-color 0.3s;
    transform: translate(-50%, -50%);
    backdrop-filter: blur(12px);
  }

  &[hidden] {
    display: block !important;
    pointer-events: none;
    opacity: 0;
  }

  &:hover {
    &::before {
      background-color: #fff;
    }
  }
}

.howto-info__video-poster {
  position: relative;
  display: block;
  margin: 0 auto;
}

//############################################################################
//------------------------- MEDIA QUERIES
//############################################################################
@media (min-width: #{map-get($grid-breakpoints, md)}) {
  .howto-info {
    background-image: url("../images/howto-info/bg.svg");
  }
}

@media (min-width: #{map-get($grid-breakpoints, lg)}) {
  .howto-info__box {
    display: grid;
    align-items: center;
    grid-template-columns: 56.79% 1fr;
    padding-top: 80px;
    padding-bottom: 80px;
    gap: 30px;
  }

  .howto-info__video {
    order: -1;
    margin: 0;
  }

  .howto-info__video-link {
    &::before {
      background-size: 36px 36px;
      width: 120px;
      height: 120px;
    }
  }

  .howto-info__text {
    max-width: 560px;

    p {
      padding-left: 140px;
    }
  }
} // lg

@media (min-width: #{map-get($grid-breakpoints, xxl)}) {
  .howto-info {
    font-size: 20px;
  }

  .howto-info__box {
    gap: 140px;
    padding-top: 160px;
    padding-bottom: 160px;
  }

  .howto-info__title {
    margin-bottom: 40px;
    font-size: 50px;

    .string2 {
      margin: 10px 0;
    }
  }
} // xxl
