@import 'form';

.join-whitelist {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 100;
  background: linear-gradient(0deg, #3E4C3D, #3E4C3D), #37473A;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .5s ease;
  -moz-transition: opacity .5s ease;
  -ms-transition: opacity .5s ease;
  -o-transition: opacity .5s ease;
  transition: opacity .5s ease;

  &::after {
    content: "";
    position: absolute;
    z-index: -1;
    top: 0;
    bottom: 0;
    right: 0;
    width: 590px;
    background-image: url('../images/decor/menu-decor-2.svg');
    background-position: center left;
    background-repeat: no-repeat;
    background-size: cover;

    @include adpt($stab-r) {
      background-image: url('../images/decor/menu-decor-2-mob.svg');
      width: 170px;
      background-position: 100% 100%;
      background-size: 170px 600px;
    }
  }

  &._open {
    pointer-events: auto;
    visibility: visible;
    opacity: 1;
  }

  &__wrap {
    height: 100%;
    overflow-y: auto;
  }


  &__inner {
    @include flexbox;
    @include flex-direction(column);
    @include justify-content(center);
    min-height: 100%;
    padding: 50px;

    @include adpt($mtab-r) {
      min-height: calc(100% - 140px);
    }

    @include adpt($stab-r) {
      padding: 25px;
    }
  }

  &__top {
    @include flexbox;
    @include align-items(center);
    @include justify-content(space-between);
    padding: 25px;
    @include adptmob($mtab-r) {
      position: absolute;
      top: 50px;
      left: 50px;
      right: 50px;
      padding: 0;
    }

    &-img {
      height: 40px;
      width: 40px;
      @include adptmob($mtab-r) {
        height: 60px;
        width: 60px;
      }
    }
  }

  &__body {
    padding: 50px 15px 35px;

    @include adptmob($bmob-r) {
      padding-left: 40px;
      padding-right: 40px;
    }

    @include adptmob($mtab-r) {
      padding: 100px 40px 100px 80px;
    }

    @include adptmob($big-r) {
      padding-left: 150px;
    }

    @include adptmob(1600) {
      padding-left: 290px;
    }

    @include adpt($bmob-r) {
      max-width: 400px;
      margin: 0 auto;
    }
  }

  &__title {
    display: inline-block;

    h2 {
      font-family: 'SaolDisplay', sans-serif;
      font-style: italic;
      font-weight: 300;
      font-size: 140px;
      line-height: 1;
      color: #ffffff;

      @include adpt($big-r) {
        font-size: 100px;
      }

      @include adpt($tab-r) {
        font-size: 90px;
      }

      @include adpt($stab-r) {
        font-size: 80px;
      }

      @include adpt($bmob-r) {
        font-size: 64px;
      }

      span {
        display: inline-block;
        color: #B5D8D6;
      }
    }
  }

  &__subtitle {
    font-weight: 500;
    font-size: 18px;
    line-height: 1.4;
    color: #B5D8D6;
    margin-top: 10px;
    text-align: right;
  }

  .btn-close {
    @include flexbox;
    @include align-items(center);
    @include justify-content(center);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, .1);
    border: 1px solid rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(25px);
    -webkit-transition: background-color .3s;
    -moz-transition: background-color .3s;
    -ms-transition: background-color .3s;
    -o-transition: background-color .3s;
    transition: background-color .3s;

    &:hover {
      background-color: rgba(255, 255, 255, .2);
    }

    @include adptmob($mtab-r) {
      width: 60px;
      height: 60px;
    }
  }

  &__form {
    margin: 60px 0 40px;
    @include adptmob($mtab-r) {
      margin: 125px 0 50px;
    }
  }
}