.journey {
  background: linear-gradient(0deg, #3E4C3D, #3E4C3D), #37473A;
  padding: 120px 0;
  overflow: hidden;


  @include adpt ($big-r) {
    padding: 80px 0;
  }

  @include adpt ($tab-r) {
    padding: 70px 0;
  }

  @include adpt ($bmob-r) {
    padding: 50px 0 60px;
  }

  &__inner {
    position: relative;
  }

  &__title {
    font-size: 140px;
    font-weight: 300;
    font-family: 'SaolDisplay', sans-serif;
    line-height: 1;
    color: $white;
    position: absolute;
    z-index: 4;
    top: -100px;
    left: 150px;

    @include adpt ($big-r) {
      left: 25px;
      top: -50px;
      font-size: 100px;
    }

    @include adpt ($tab-r) {
      position: relative;
      margin-left: 25px;
      font-size: 90px;
      left: 0;
      top: 0;
      z-index: 6;
    }

    @include adpt ($stab-r) {
      font-size: 80px;
    }

    @include adpt ($bmob-r) {
      font-size: 64px;
    }
  }

  &__title-top {
    font-style: italic;
  }

  &__slider {
    margin-top: 100px;

    @include adpt (1600) {
      padding-bottom: 70px;
    }

    @include adpt ($big-r) {
      margin-top: 50px;

    }

    @include adpt ($tab-r) {
      margin-top: -10px;
      padding-bottom: 70px;
    }

    @include adpt ($bmob-r) {
      padding-bottom: 0;
    }
  }

  &__slide {
    position: relative;
  }

  &__slide-wrap {
    transform: scale(0.7);
    opacity: 0.4;
    transition: transform 0.8s ease, opacity 1s;

    &.swiper-slide-active {
      transform: scale(1);
      opacity: 1;

      & .journey__content {
        opacity: 1;
      }

    }
  }

  &__img {
    aspect-ratio: 1/1;
    height: auto;
    width: 640px;
    margin: 0 auto;
    border-radius: 50%;

    @include adpt ($big-r) {
      width: 470px;
    }
  }

  &__content {
    max-width: 480px;
    margin: -35px auto 0;
    line-height: 1;
    opacity: 0;
    transition: opacity 0.5s;

    @include adpt ($bmob-r) {
      margin-top: 30px;
      text-align: center;
    }
  }

  &__content-title {
    margin-bottom: 20px;
    font-size: 70px;
    font-weight: 300;
    color: #D7AE9C;

    @include adpt ($big-r) {
      font-size: 55px;
    }

    @include adpt ($stab-r) {
      font-size: 45px;
    }

    @include adpt ($bmob-r) {
      font-weight: 400;
      margin-bottom: 15px;
    }
  }

  &__text {
    font-size: 24px;
    color: $white;
    font-family: 'SaolDisplay', sans-serif;

    @include adpt ($big-r) {
      font-size: 22px;
    }

    @include adpt ($stab-r) {
      font-size: 19px;
    }
  }

  &__slider-btn {
    bottom: 0;
    left: 150px;
    z-index: 5;
    display: flex;
    padding: 8px 0;
    align-items: center;

    @include adpt ($big-r) {
      left: 25px;
    }

    @include adpt ($tab-r){
      width: auto;
    }

    @include adpt ($bmob-r) {
      display: none;
    }

    &.slider-button-next {
      left: 370px;

      
      @include adpt ($big-r) {
        left: 200px;
      }
    }
    &.slider-button-next{

      @include adpt ($tab-r){
        left: 200px;
      }
    }
  }
}