.locations {
  padding: 90px 150px;
  color: $white;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: top left;

  @include adpt (1800) {
    padding: 70px 25px;
  }

  @include adpt ($tab-r) {
    padding: 100px 0 0 25px;
    background-position: -513px -50px;
    background-color: #363A45;
    background-size: auto;
  }

  &__inner {
    display: flex;
    justify-content: space-between;
  }

  &__marks {
    position: relative;
    width: 700px;
    flex-shrink: 0;

    @include adpt (1800) {
      width: 710px;
    }

    @include adpt ($big-r) {
      width: 680px;
    }

    @include adpt ($tab-r) {
      display: none;
    }
  }

  &__mark {
    position: absolute;
    display: inline-block;
    transform: scale(0.8);
    transition: transform 0.3s;

    &::after {
      content: "";
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 20px;
      height: 20px;
      background-color: #000;
      z-index: -1;
      box-shadow: 0px 20px 15px rgba(0, 0, 0, 1);
    }


    & svg path {
      transition: fill 0.3s, stroke 0.3s;
    }

    &._active {
      transform: scale(1);

      & svg path {
        fill: #181B1E;

      }

      & svg .locations-path {
        stroke: #EBEBEB;
      }
    }

    &_1 {
      top: 150px;
      left: 255px;

      @include adpt (1800) {
        top: 160px;
        left: 355px;
      }

      @include adpt ($big-r) {
        top: 115px;
        left: 300px;
      }
    }

    &_2 {
      top: 214px;
      left: 522px;

      @include adpt (1800) {
        top: 224px;
        left: 622px;
      }

      @include adpt ($big-r) {
        top: 179px;
        left: 520px;
      }
    }

    &_3 {
      top: 192px;
      left: 400px;

      @include adpt (1800) {
        top: 202px;
        left: 500px;
      }

      @include adpt ($big-r) {
        top: 145px;
        left: 420px;
      }
    }

    &_4 {
      top: 398px;
      left: 115px;

      @include adpt (1800) {
        left: 215px;
        top: 408px;
      }

      @include adpt ($big-r) {
        top: 316px;
        left: 191px;
      }
    }

    &_5 {
      top: 350px;
      left: 200px;

      @include adpt (1800) {
        top: 460px;
        left: 300px;
      }

      @include adpt ($big-r) {
        top: 275px;
        left: 267px;
      }
    }

    &_6 {
      top: 442px;
      left: 367px;

      @include adpt (1800) {
        top: 552px;
        left: 467px;
      }

      @include adpt ($big-r) {
        top: 355px;
        left: 390px;
      }
    }

    &_7 {
      top: 633px;
      left: 473px;

      @include adpt (1800) {
        top: 643px;
        left: 573px;
      }

      @include adpt ($big-r) {
        top: 510px;
        left: 487px;
      }
    }

    &_8 {
      top: 577px;
      left: 550px;

      @include adpt (1800) {
        top: 587px;
        left: 650px;
      }

      @include adpt ($big-r) {
        top: 467px;
        left: 543px;
      }
    }

  }

  &__content {
    position: relative;
    padding: 70px;
    background-color: #181B1E;
    height: 720px;
    min-width: 0;

    @include adpt (1800) {
      padding: 30px;
    }

    @include adpt ($big-r) {
      height: 600px;
    }

    @include adpt (1250) {
      padding: 25px;
    }

    @include adpt ($tab-r) {
      height: auto;

    }
  }

  &__left {
    padding-right: 350px;
    height: 100%;

    @include adpt (1800) {
      padding-right: 250px;
    }

    @include adpt ($big-r) {
      padding-right: 210px;
    }

    @include adpt (1250) {
      padding-right: 0;
      padding-bottom: 170px;
      overflow: hidden;
    }

    @include adpt ($tab-r) {
      padding-bottom: 0;
      height: auto;
      margin-bottom: 20px;
    }
  }

  &__imgs {
    position: absolute;
    right: 60px;
    bottom: 0;
    display: grid;
    grid-template-columns: 1fr;
    grid-gap: 20px;
    height: calc(100% + 30px);
    overflow: hidden;

    @include adpt (1800) {
      right: 25px;
      height: calc(100% + 10px);
    }

    @include adpt (1250) {
      grid-template-columns: 1fr 1fr 1fr;
      left: 25px;
      bottom: 25px;
      right: auto;
      height: 150px;
      grid-gap: 10px;
      width: calc(100% - 50px);
    }

    @include adpt ($tab-r) {
      height: auto;
      position: static;
      width: 100%;
      display: none;
      &._active{
        display: grid;
      }
    }
  }

  &__imgs-wrap {
    overflow: hidden;
    width: 100%;
  }

  &__img {
    object-fit: cover;
    width: 300px;
    height: 300px;

    @include adpt (1800) {
      width: 240px;
      height: 240px;
    }

    @include adpt ($big-r) {
      width: 200px;
      height: 200px;
    }

    @include adpt (1250) {
      width: 150px;
      height: 150px;
      min-width: 150px;
    }

    @include adpt ($tab-r) {
      width: 250px;
      height: 250px;
      min-width: 250px;
    }

    @include adpt ($bmob-r) {
      width: 150px;
      height: 150px;
      min-width: 150px;
    }
  }

  &__slider-btn {
    display: flex;
    padding: 8px 0;
    width: 80px;
    top: 0;
    left: 0;

    & svg {
      width: 80px;
      object-fit: contain;
    }

    &.slider-button-next {
      left: 110px;
    }
  }

  &__subtitle {
    position: absolute;
    left: 0;
    top: 60px;

    @include adpt ($big-r) {
      top: 40px;
    }

    @include adpt ($tab-r) {
      position: static;
      font-size: 14px;
      margin-bottom: 10px;
    }
  }

  &__slider-inner {
    height: 100%;

    @include adpt ($tab-r) {
      display: none;
    }
  }

  &__slider {
    position: relative;
    padding-top: 93px;
    height: 100%;
    display: flex;
    align-items: flex-end;

    @include adpt ($big-r) {
      padding-top: 70px;
    }

    & .swiper-wrapper {
      height: auto;
      align-items: flex-end;

      @include adpt ($big-r) {
        height: 100%;
      }
    }

    & .swiper-slide {
      @include adpt ($big-r) {
        overflow-y: auto;
      }
    }

    & .swiper-pagination {
      width: auto;
      top: 0;
      right: 0;
      left: auto;
      color: #656C7E;
    }
  }

  &__title {
    font-family: 'SaolDisplay', sans-serif;
    font-size: 70px;
    line-height: 1;
    margin-bottom: 30px;
    color: $accent-2;

    @include adpt (1800) {
      font-size: 54px;
    }

    @include adpt ($big-r) {
      font-size: 45px;
      margin-bottom: 15px;
    }
  }

  &__tabs {
    display: none;

    @include adpt ($tab-r) {
      display: block;
    }
  }

  &__text {
    font-size: 15px;

    @include adpt (1250) {
      font-size: 14px;
    }

    &:not(:last-child) {
      margin-bottom: 15px;

      @include adpt (1250) {
        margin-bottom: 10px;
      }
    }
  }

  &__item {
    display: flex;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;

    @include adpt ($big-r) {
      justify-content: flex-end;
    }

    @include adpt (1250) {
      justify-content: flex-start;
    }
  }

  &__coord {
    display: flex;
    align-items: center;
    margin-top: 90px;

    @include adpt ($big-r) {
      margin-top: 30px;
    }

    @include adpt ($tab-r) {
      margin-top: 90px;
    }

    & svg {
      width: 30px;
      height: 30px;
      margin-right: 15px;
      object-fit: contain;

      @include adpt ($tab-r) {
        width: 24px;
        height: 24px;
        margin-right: 10px;
      }
    }
  }

  &__coord-text {
    display: flex;
    align-items: center;
    font-size: 15px;
    opacity: 0.5;

    @include adpt ($tab-r) {
      font-size: 14px;
    }
  }

  &__tabs-box {
    display: none;

    &._active {
      display: block;
    }
  }

  &__tabs-top {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    margin-bottom: 50px;
  }

  &__tabs-link {
    padding: 7px 15px;
    background: rgba(255, 255, 255, 0.05);
    border: 1px solid rgba(255, 255, 255, 0.1);
    backdrop-filter: blur(25px);
    font-weight: 700;
    line-height: 1.1;
    font-size: 12px;
    text-transform: uppercase;
    margin-bottom: 5px;
    opacity: 0.4;
    transition: background-color 0.3, border-color 0.3s, color 0.3s, opacity 0.3s;

    &:not(:last-child) {
      margin-right: 5px;
    }

    &._active {
      background-color: $accent;
      border-color: $accent;
      color: #363A45;
      opacity: 1;
    }
  }
}