.membership {
  position: relative;
  font-size: 17px;
  font-weight: 400;
  line-height: 140%;
  color: #ebebeb;
  background: #363a45 no-repeat;
}

.membership__wrapper {
  position: relative;
  overflow: hidden;
}

.membership__box {
  position: relative;
  max-width: (1332px + 50px);
  padding: 120px 25px 70px;
  margin: 0 auto;
}

.membership__box2 {
  max-width: 540px;
}

.membership__title {
  margin: 0;
  font-size: 36px;
  font-weight: 400;
  line-height: 120%;
  color: #d7ae9c;

  .string1 {
    font-family: SaolDisplay, serif;
    font-size: 45px;
    font-style: normal;
    font-weight: 400;
    line-height: 100%;
  }

  .string2 {
    display: block;
    margin: 10px 0;
  }
}

.membership__images {
  position: relative;
  height: 360px;
  margin: 0 0 39px;
}

.membership__img1 {
  position: absolute;
  top: 0;
  left: 80px;
  max-width: none;
  border-radius: 50%;
  width: 360px;
  height: 360px;
  object-fit: cover;
}

.membership__img2 {
  position: absolute;
  top: 27px;
  left: 25px;
  max-width: none;
  border-radius: 50%;
  height: 50px;
  width: 50px;
  object-fit: cover;
}

.membership__img3 {
  position: absolute;
  top: 257px;
  left: -20px;
  max-width: none;
  border-radius: 50%;
  height: 90px;
  width: 90px;
  object-fit: cover;
}

.membership__img4 {
  display: none;
}

.membership__nft {
  margin: 40px 0 0;
}

.membership__nft-value {
  font-size: 16px;
  font-weight: 500;
  line-height: 120%;
  color: #d7ae9c;
  text-transform: uppercase;
  letter-spacing: 0.2em;
}

.membership__nft-progressbar {
  display: grid;
  grid-template-columns: var(--w1, 0) 1fr;
  gap: 10px;
  margin: 10px 0 0;

  &::before {
    display: block;
    height: 3px;
    content: "";
    background: #d7ae9c;
    border-radius: 2px;
  }

  &::after {
    display: block;
    height: 3px;
    content: "";
    background: #ebebeb;
    border-radius: 2px;
    opacity: 0.3;
  }
}

.membership__nft-form {
  display: grid;
  gap: 10px;
  margin: 30px 0 0;
  max-width: 450px;
}

.membership__nft-spin {
  display: grid;
  align-items: center;
  grid-template-columns: 60px 1fr 60px;
  background: rgb(255 255 255 / 3%);
  border: 1px solid rgb(255 255 255 / 8%);
}

.membership__nft-up,
.membership__nft-down {
  position: relative;
  display: grid;
  align-items: center;
  justify-content: center;
  height: 60px;
  padding: 0;
  background: none;

  &::before {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 50%;
    height: 50%;
    content: "";
    background: #fff 50% 50% no-repeat;
    border-radius: 50%;
    opacity: 0;
    transition: opacity 0.3s;
    transform: translate(-50%, -50%);
  }

  &:hover,
  &:focus {
    &::before {
      opacity: 0.1;
    }
  }
}

.membership__nft-input {
  position: relative;
  min-width: 0;
  padding-top: 3px;
  margin: 10px 0;
  font-size: 20px;
  font-weight: 500;
  line-height: 100%;
  color: #fff;
  text-align: center;
  background: none;
  border: 1px solid rgb(255 255 255 / 8%);
  border-top: 0;
  border-bottom: 0;

  &:active,
  &:focus {
    outline: 0;
  }
}

.membership__nft-btn {
  height: 60px;
  font-size: 14px;
  font-weight: 700;
  line-height: 130%;
  text-transform: uppercase;
  background: #a6857e;

  &:hover,
  &:focus {
    background: #8e706a;
  }
}

//############################################################################
//------------------------- MEDIA QUERIES
//############################################################################
@media (min-width: #{map-get($grid-breakpoints, lg)}) {
  .membership {
    font-size: 20px;
    background-image: url("../images/shared/bg-decor.svg");
    background-position: calc(50% + 228px) 10%;
  }

  .membership__box {
    padding-top: 200px;
    padding-bottom: 160px;
  }

  .membership__title {
    font-size: 50px;

    .string1 {
      font-size: 70px;
    }

    .string2 {
      margin: 5px 0;
    }
  }

  .membership__images {
    position: static;
    height: 0;
  }

  .membership__img1 {
    top: 150px;
    left: 700px;
    width: 640px;
    height: 640px;
  }

  .membership__img2 {
    top: 176px;
    left: 444px;
    height: 60px;
    width: 60px;
  }

  .membership__img3 {
    top: 240px;
    left: 1419px;
    height: 180px;
    width: 180px;
  }

  .membership__img4 {
    display: block;
    position: absolute;
    bottom: -50px;
    z-index: 2;
    left: 50%;
    border-radius: 50%;
    height: 120px;
    width: 120px;
    object-fit: cover;
  }

  .membership__nft {
    margin-top: 60px;
  }

  .membership__nft-form {
    grid-template-columns: 1fr 1fr;
    margin-top: 54px;
  }

  .membership__nft-input {
    font-size: 26px;
  }

  .membership__nft-btn {
    height: 70px;
    font-size: 15px;
  }
}

// lg
