.menu {
  color: $white;

  @include adpt($bmob-r) {
    padding-top: 95px;
  }

  &__inner {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 100%;
    overflow-y: auto;
  }

  &__bottom {
    display: grid;
    grid-template-columns: 1fr 1fr;
    padding: 28px 50px;
    border-top: 1px solid rgba(255, 255, 255, 0.1);
    font-weight: 500;
    font-size: 15px;
    text-transform: uppercase;

    @include adpt($desm-r) {
      padding: 20px 50px;
    }

    @include adpt($tab-r) {
      padding: 20px 15px;
    }

    @include adpt($stab-r) {
      font-size: 12px;
      padding: 20px 25px;
    }

    @include adpt($bmob-r) {
      grid-template-columns: 1fr 112px;
    }
  }

  &__text {
    opacity: 0.4;
  }

  &__column {
    &_margin-left {
      margin-left: 140px;

      @include adpt($tab-r) {
        margin-left: 50px;
      }

      @include adpt($stab-r) {
        margin-left: 0;
      }
    }
  }

  &__link-policy {
    transition: opacity 0.3s, color 0.3s;

    &:hover {
      opacity: 1;
      color: $accent;
    }
  }

  &__main {
    position: relative;
    padding: 30px 30px 20px;
    flex: 1;
    display: flex;
    flex-direction: column;

    @include adpt($tab-r) {
      padding: 15px 25px 30px;
    }


    &::after {
      content: "";
      position: absolute;
      z-index: -1;
      top: 0;
      bottom: 0;
      right: 0;
      width: 590px;
      background-image: url('../images/decor/menu-decor-2.svg');
      background-position: center right;
      background-repeat: no-repeat;
      background-size: contain;

      @include adpt($stab-r) {
        background-image: url('../images/decor/menu-decor-2-mob.svg');
        width: 170px;
        background-position: bottom right;
      }
    }
  }

  &__top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 20px;

    @include adpt($bmob-r) {
      display: none;
    }
  }

  &__top-img {
    pointer-events: none;
  }

  &__close {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: 1px solid rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(25px);
    transition: background-color 0.3s;

    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }

  &__close-img {
    object-fit: contain;
  }

  &__center {
    position: relative;
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: auto 0;

    @include adpt($stab-r) {
      grid-template-columns: 1fr;
    }
  }

  &__dropdown {
    display: none;

    &._show {
      display: block;
    }
  }

  &__list {
    margin-right: 20px;

    @include adpt($stab-r) {
      margin-right: 0;
      margin-bottom: 40px;
    }

    &._hide {
      pointer-events: none;
      display: none;
    }
  }

  &__item:not(:last-child) {
    margin-bottom: 30px;

    @include adpt($big-r) {
      margin-bottom: 20px;
    }

    @include adpt($stab-r) {
      margin-bottom: 15px;
    }
  }

  &__link-box {
    margin-top: 50px;
    @media (min-width: 576px) and (max-width: 767px) {
      margin-top: 0;
    }
  }

  &__link {
    font-family: 'SaolDisplay', sans-serif;
    font-weight: 400;
    font-size: 70px;
    line-height: 1;
    opacity: 0.4;
    transition: opacity 0.3s, color 0.3s;

    @include adpt($big-r) {
      font-size: 50px;
    }

    @include adpt($desm-r) {
      font-size: 45px;
    }

    &._active,
    &:hover {
      opacity: 1;
    }

    &:hover {
      color: #F0BB82;
    }

    svg {
      display: inline-block;
      vertical-align: middle;
      margin-left: 12px;
    }

    ._locked {
      width: 24px;
      height: 24px;
    }
  }

  &__dropdown-list {
    margin-top: 60px;
    @include adptmob($mtab-r) {
      margin-top: 100px;
    }
  }

  &__dropdown-item {
    &:not(:last-child) {
      margin-bottom: 30px;
      @include adptmob($mtab-r) {
        &:not(:last-child) {
          margin-bottom: 50px;
        }
      }
    }
  }

  &__dropdown-link {
    font-family: 'SaolDisplay', sans-serif;
    font-weight: 400;
    font-size: 40px;
    line-height: 100%;
    color: #FFFFFF;
    opacity: 0.6;
    text-transform: capitalize;
    @include adpt($big-r) {
      font-size: 45px;
    }

    @include adpt($desm-r) {
      font-size: 30px;
    }

    &._active,
    &:hover {
      opacity: 1;
    }

    &:hover {
      color: #F0BB82;
    }
  }

  &__dropdown-back-link {
    svg {
      display: inline-block;
      vertical-align: middle;
      margin-right: 30px;
      @include adptmob($mtab-r) {
        margin-right: 50px;
      }
    }

    &:hover {
      color: #F0BB82;
    }
  }

  &__right {
    display: flex;
    flex-direction: column;
    justify-content: space-between;

    @include adpt($stab-r) {
      display: grid;
      grid-template-columns: 1fr;
    }

    &._hide {
      @include adpt($stab-r) {
        display: none;
      }
    }
  }

  &__right-top {
    margin-bottom: 100px;

    @include adpt($big-r) {
      margin-bottom: 50px;
    }

    @include adpt($stab-r) {
    }
  }

  &__right-text {
    font-weight: 500;
    font-size: 18px;

    @include adpt($stab-r) {
      font-size: 15px;
    }
  }

  &__right-text-title {
    margin-bottom: 50px;

    @include adpt($big-r) {
      margin-bottom: 30px;
    }

    @include adpt($stab-r) {
      margin-bottom: 15px;
    }
  }

  &__email {
    border-bottom: 1px solid $white;
    transition: border-color 0.3s, color 0.3s;

    &:hover {
      color: #F0BB82;
      border-color: #F0BB82;
    }

    @include adpt($stab-r) {
      font-size: 15px;
      transition: opacity 0.3s;

      &:hover {
        opacity: 1;
      }
    }
  }

  &__right-bottom {
    @include adptmob($stab-r) {
      height: 100%;
      display: flex;
      flex-direction: column;
      justify-content: space-between;
    }
    @include adpt($stab-r) {
      display: grid;
      grid-template-columns: 1fr 1fr;
    }
    @include adpt($bmob-r) {
      grid-template-columns: 1fr;
    }
  }

  &__contacts {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 30px 40px;
    width: 240px;
    @include adpt($stab-r) {
      grid-gap: 20px 30px;
    }
  }

  &__aux-link {
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: 15px;
    font-weight: 500;
    margin-bottom: 30px;
    transition: color 0.3s;

    &:hover {
      color: #F0BB82;

      & svg g path {
        fill: #F0BB82;
      }
    }

    @include adpt($stab-r) {
      font-size: 12px;
      margin-top: 5px;

      &._show-768 {
        display: flex;
      }
    }
  }

  &__aux-link-icon {
    margin-right: 15px;

    & g path {
      transition: fill 0.3s;
    }

    @include adpt($stab-r) {
      width: 24px;
      height: 24px;
      margin-right: 12px;

    }
  }

  &__contacts-link {
    transition: color 0.3s;

    &_discord {
      &:hover {
        color: #A0AFE4;

      }
    }

    &_twitter {
      &:hover {
        color: #85CAE0;

      }
    }

    &_instagram {
      &:hover {
        color: #EDA7B3;

      }
    }

    &_telegram {
      &:hover {
        color: #85CAE0;

      }
    }

    &_youtube {
      &:hover {
        color: #CD9292;
      }
    }
  }

  ._locked {
    display: inline-block;
    vertical-align: middle;
    margin-left: 8px;
  }
}