.modal-success {
  position: fixed;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  z-index: 100;
  pointer-events: none;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: opacity .5s ease;
  -moz-transition: opacity .5s ease;
  -ms-transition: opacity .5s ease;
  -o-transition: opacity .5s ease;
  transition: opacity .5s ease;

  &:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(0deg, #3E4C3D, #3E4C3D), #37473A;
    opacity: 0.9;
  }

  &._open {
    pointer-events: auto;
    visibility: visible;
    opacity: 1;
  }

  &__wrap {
    width: 100%;
    height: 100%;
    overflow-y: auto;
  }

  &__inner {
    @include flexbox;
    @include flex-direction(column);
    @include align-items(center);
    @include justify-content(center);
    min-height: 100%;
    position: relative;
    padding: 25px;
  }

  &__close {
    @include flexbox;
    @include align-items(center);
    @include justify-content(center);
    position: absolute;
    top: 0;
    right: 0;
    width: 60px;
    height: 60px;
    cursor: pointer;
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.15);
    backdrop-filter: blur(25px);
    border-radius: 50%;
    -webkit-transition: background-color .3s;
    -moz-transition: background-color .3s;
    -ms-transition: background-color .3s;
    -o-transition: background-color .3s;
    transition: background-color .3s;

    &:hover {
      background-color: rgba(255, 255, 255, 0.2);
    }
  }

  &__img {
    position: relative;

    .img-center {
      display: block;
      width: 100%;
      max-width: 620px;
      height: auto;
      margin: auto;
    }
  }

  &__check {
    background: #F0BB82;
    border-radius: 50%;
    width: 100px;
    height: 100px;
    position: absolute;
    bottom: 0;
    left: 0;
    @include flexbox;
    @include align-items(center);
    @include justify-content(center);
    @include adptmob($stab-r) {
      width: 200px;
      height: 200px;
    }

    img {
      width: 40px;
      height: auto;
      -o-object-fit: contain;
      object-fit: contain;

      @include adptmob($stab-r) {
        width: 99px;
      }
    }
  }
}