.nftree {
  background: #738471;
  padding: 130px 0;
  overflow: hidden;
  position: relative;

  @include adpt($big-r) {
    padding: 80px 0 90px;
  }

  @include adpt($tab-r) {
    padding: 70px 0 80px;
  }
  @include adpt($bmob-r) {
    padding: 40px 0 60px;
  }

  &:before {
    content: '';
    position: absolute;
    width: 519px;
    height: 900px;
    bottom: 0;
    left: 0;
    background-image: url('../images/nftree/decor-1.svg');
    background-size: contain;
    background-repeat: no-repeat;

    @include adpt($mtab-r) {
      width: 340px;
      height: 613px;
      background-size: cover;
      background-position: -30px;
    }
  }

  &__inner {
    margin-left: 25px;
    margin-right: 25px;
    -webkit-align-items: center;
    align-items: center;

    @include adptmob($big-r) {
      margin-left: 150px;
      margin-right: 150px;
    }

    @include adptmob($mtab-r) {
      display: grid;
      grid-template-columns: repeat(2, 1fr);
    }
  }

  &__left {
    @include adptmob($mtab-r) {
      order: 1;
    }

    @include adpt($mtab-r) {
      margin-top: 50px;
    }
  }

  &__right {
    @include adptmob($mtab-r) {
      order: 2;
    }
  }

  &__title {
    display: inline-block;
    position: relative;

    h2 {
      font-family: "SaolDisplay", sans-serif;
      font-size: 140px;
      line-height: 1;
      font-weight: 300;
      color: #3E4C3D;
      margin-bottom: 30px;

      @include adpt($big-r) {
        font-size: 100px;
      }

      @include adpt($tab-r) {
        font-size: 90px;
      }

      @include adpt($stab-r) {
        font-size: 80px;
      }

      @include adpt($bmob-r) {
        font-size: 62px;
        margin-bottom: 20px;
      }

      span {
        font-style: italic;
      }
    }
  }

  &__title-img {
    border-radius: 50%;
    width: 60px;
    height: 60px;
    position: absolute;
    top: 0;
    right: -80px;
    overflow: hidden;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
    }
  }

  &__description {
    font-family: 'Untitled Sans', sans-serif;
    font-weight: 400;
    font-size: 26px;
    line-height: 140%;
    color: #3E4C3D;

    @include adptmob($mtab-r) {
      margin-right: 40px;
    }

    @include adptmob($big-r) {
      max-width: 650px;
      margin-right: 130px;
    }

    @include adpt($mtab-r) {
      font-size: 24px;
    }

    @include adpt($bmob-r) {
      font-size: 20px;
    }

    p {
      &:not(:last-child) {
        margin-bottom: 20px;
        @include adptmob($mtab-r) {
          margin-bottom: 30px;
        }
      }
    }
  }

  &__right {
    position: relative;

    @include adptmob($mtab-r) {
      max-width: 640px;
      justify-self: end;
      margin-right: 140px;
    }

    @include adpt($mtab-r) {
      margin-left: -20px;
      margin-right: -20px;
    }

    img {
      height: 100%;
      width: 100%;
      object-fit: cover;
    }
  }

  &__right-img-main {
    border-radius: 50%;
    height: 100%;
    width: 100%;
    max-height: 640px;
    max-width: 640px;
    overflow: hidden;

    @include adpt($mtab-r) {
      margin-left: auto;
      -webkit-transform: translateX(15%);
      -moz-transform: translateX(15%);
      -ms-transform: translateX(15%);
      -o-transform: translateX(15%);
      transform: translateX(15%);
    }

    img {
      aspect-ratio: 1/1;
      position: relative;
      z-index: 1;
      width: 640px;
      height: auto;
    }
  }

  &__right-img-left {
    border-radius: 50%;
    height: 110px;
    width: 110px;
    position: absolute;
    bottom: -60px;
    left: -120px;
    overflow: hidden;

    @include adpt($big-r) {
      height: 80px;
      width: 80px;
      left: -40px;
    }

    @include adpt($mtab-r) {
      bottom: auto;
      top: 0;
      left: 20px;
      height: 50px;
      width: 50px;
    }
  }

  &__right-img-right {
    border-radius: 50%;
    height: 150px;
    width: 150px;
    position: absolute;
    top: 70px;
    right: -210px;
    overflow: hidden;

    @include adpt($big-r) {
      height: 100px;
      width: 100px;
      top: 50px;
      right: -140px;
    }

    @include adpt($mtab-r) {
      height: 70px;
      width: 70px;
      top: auto;
      bottom: -100px;
      right: 20px;
    }
  }

  &__decor {
    position: absolute;
    top: 0;
    left: 27%;
    width: 100%;
    height: 100%;
    max-height: 640px;
    max-width: 640px;
    overflow: hidden;

    img {
      object-fit: contain;
      position: relative;
      z-index: 0;
    }
  }
}