.partners {
  background-color: #738471;
  padding: 120px 0 180px;
  position: relative;

  @include adpt($big-r) {
    padding: 70px 0 120px;
  }

  @include adpt($mtab-r) {
    padding: 50px 0 30px;
  }

  @include adptmob($mtab-r) {
    &:before {
      content: '';
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-image: url('../images/partners/bg-decor.svg');
      background-repeat: no-repeat;
      background-size: contain;
      background-position: left top;
    }
  }

  &__inner {
    margin-left: 25px;
    margin-right: 25px;
    position: relative;

    @include adptmob($big-r) {
      margin-left: 150px;
      margin-right: 150px;
    }
  }

  &__title {
    font-family: "SaolDisplay", sans-serif;
    font-size: 140px;
    line-height: 1;
    font-weight: 300;
    color: $white;
    text-align: center;
    margin-bottom: 100px;

    @include adpt($big-r) {
      font-size: 100px;
    }

    @include adpt($tab-r) {
      font-size: 90px;
      margin-bottom: 40px;
    }

    @include adpt($stab-r) {
      font-size: 80px;
    }

    @include adpt($bmob-r) {
      font-size: 64px;
      margin-bottom: 46px;
    }
  }

  &__grid {
    margin: 0;
    padding: 0;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 0 40px;

    @include adptmob($mtab-r) {
      grid-template-columns: repeat(4, 1fr);
      grid-gap: 0 80px;
    }

    @include adptmob($big-r) {
      grid-template-columns: repeat(5, 1fr);
      grid-gap: 0 140px;
    }

    li {
      border-bottom: 1px solid rgba(235, 235, 235, .3);
      padding: 40px 0;
      width: 100%;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;

      @include adpt($mtab-r) {
        padding: 20px;
      }

      &:before {
        content: '';
        position: absolute;
        top: 20px;
        right: -20px;
        bottom: 20px;
        width: 1px;
        background: rgba(235, 235, 235, .3);

        @include adptmob($mtab-r) {
          top: 40px;
          bottom: 40px;
          right: -40px;
        }

        @include adptmob($big-r) {
          right: -70px;
        }
      }

      @include adpt($big-r) {
        &:nth-child(-n+4) {
          border-top: 1px solid rgba(235, 235, 235, .3);
        }
        &:nth-child(4n) {
          &:before {
            content: none;
          }
        }
      }

      @include adpt($mtab-r) {
        &:nth-child(-n+4) {
          border-top: none;
        }
        &:nth-child(-n+2) {
          border-top: 1px solid rgba(235, 235, 235, .3);
        }
        &:nth-child(2n) {
          &:before {
            content: none;
          }
        }

        &:last-child {
          border-bottom: none;
        }
      }

      @include adptmob($big-r) {
        &:nth-child(-n+5) {
          border-top: 1px solid rgba(235, 235, 235, .3);
        }
        &:nth-child(5n) {
          &:before {
            content: none;
          }
        }
      }

      img {
        margin: 0 auto;
        width: 100%;
        height: auto;
        max-width: 247px;
      }
    }
  }
}