.pillars {
  position: relative;
  padding: 120px 0;
  background-color: #EBEBEB;
  overflow: hidden;
  z-index: 0;

  @include adpt($big-r) {
    padding: 80px 0;
  }

  @include adpt($tab-r) {
    padding: 70px 0;
  }

  @include adpt($bmob-r) {
    padding-bottom: 30px;
  }

  &::after,
  &::before {
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    z-index: -1;
    background-size: contain;
  }

  &::after {
    width: 475px;
    height: 770px;
    left: 0;
    top: 10%;
    background-image: url('../images/pillars/decor.svg');

    @include adpt($big-r) {
      width: 300px;
      height: 600px;
    }

    @include adpt($bmob-r) {
      background-image: url('../images/pillars/decor-mob.svg');
      width: 165px;
      height: 274px;
      top: 130px;
    }
  }

  &::before {
    height: 946px;
    bottom: 30px;
    right: 0;
    width: 416px;
    background-image: url('../images/pillars/decor-2.svg');

    @include adpt($big-r) {
      width: 350px;
      height: 800px;
    }

    @include adpt($bmob-r) {
      background-image: url('../images/pillars/decor-2-mob.svg');
      width: 125px;
      height: 274px;
      bottom: auto;
      top: 40px;
    }
  }

  &__top {
    position: relative;
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    margin-bottom: 60px;
    margin-right: 150px;
    margin-left: 150px;

    @include adpt($big-r) {
      margin: 0 25px 60px;
    }

    @include adpt($tab-r) {
      flex-direction: column;
    }

  }

  &__title {
    font-size: 120px;
    line-height: 1;
    font-weight: 300;
    font-family: 'SaolDisplay', sans-serif;
    margin-right: 50px;

    @include adpt($big-r) {
      font-size: 90px;
    }

    @include adpt($tab-r) {
      margin-right: 0;
      margin-bottom: 50px;
      font-size: 80px;
    }

    @include adpt($stab-r) {
      font-size: 70px;
    }

    @include adpt($bmob-r) {
      font-size: 54px;
    }
  }

  &__title-top {
    font-style: italic;
  }

  &__slider {
    position: relative;
    z-index: 2;
    margin-left: 150px;
    margin-right: 150px;

    @include adpt($big-r) {
      margin-left: 25px;
      margin-right: 25px;
    }
  }

  &__inner {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 60px;
    flex: 1;
    max-width: 1200px;

    @include adpt($big-r) {
      grid-gap: 40px;
      max-width: 950px;
    }

    @include adpt($tab-r) {
      max-width: 100%;
    }

    @include adpt($stab-r) {
      grid-gap: 20px;
    }

    @include adpt($bmob-r) {
      grid-template-columns: 1fr;
      grid-gap: 50px;
    }

  }

  &__img {
    margin-bottom: 50px;

    @include adpt($tab-r) {
      margin-bottom: 30px;
    }

    @include adpt($stab-r) {
      margin-bottom: 20px;
    }

    @include adpt($bmob-r) {
      object-fit: cover;
      aspect-ratio: 34/24;
      height: auto;
    }

    &_1 {
      @include adpt($bmob-r) {
        aspect-ratio: 34/30;
      }
    }

    &_2 {
      @include adpt($bmob-r) {
        object-position: 0 30%;
      }

    }
  }

  &__item-title {
    font-size: 50px;
    line-height: 1;
    font-family: 'SaolDisplay', sans-serif;
    margin-bottom: 10px;

    @include adpt($tab-r) {
      font-size: 40px;
    }

    @include adpt($stab-r) {
      font-size: 36px;
    }
  }

  &__discr {
    opacity: 0.6;

    @include adpt($tab-r) {
      font-size: 18px;
    }

    @include adpt($stab-r) {
      font-size: 17px;
    }
  }

  &__slider-inner {
    padding-top: 100px;
    overflow: visible;

    @include adpt($big-r) {
      padding-top: 70px;
    }

    @include adpt($bmob-r) {
      padding-top: 0;
    }
  }

  &__slider-btn {
    top: 0;
    right: 0;
    display: flex;
    padding: 8px 0;
    align-items: center;

    @include adpt($bmob-r) {
      display: none;
    }

    &.slider-button-prev {
      right: 220px;
    }
  }

  &__slide {
    aspect-ratio: 78/40;
    height: auto;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: flex-end;

    @include adpt($tab-r) {
      aspect-ratio: 60/40;
    }

    @include adpt($bmob-r) {
      aspect-ratio: 26/44;
    }

  }

  &__text {
    padding: 30px 70px 30px 30px;
    backdrop-filter: blur(25px);
    background-color: rgba(255, 255, 255, 0.1);
    border: 1px solid rgba(255, 255, 255, 0.15);
    font-weight: 500;
    font-size: 14px;
    color: $white;
    width: 100%;

    @include adpt($tab-r) {
      padding: 20px;
    }
  }
}