.popup-video {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9;
  width: 100%;
  height: 100%;
  pointer-events: none;
  visibility: hidden;
  opacity: 0;
  transition: opacity 0.3s, visibility 0s 0.3s, z-index 0s 0.3s;
  scroll-behavior: contain;
  background: #363a45;
  color: #fff;

  &.is-open {
    pointer-events: auto;
    visibility: visible;
    opacity: 1;
    transition: opacity 0.3s, visibility 0s 0.3s, z-index 0s 0.3s;
    scroll-behavior: contain;
  }
}

.popup-video__close {
  position: absolute;
  top: 20px;
  right: 20px;
  width: 30px;
  height: 30px;
  z-index: 9;
  background: rgb(255 255 255 / 10%) url('../images/shared/close.svg') 50% 50%
    no-repeat;
  background-size: 10px auto;
  border: 1px solid rgb(255 255 255 / 15%);
  border-radius: 50%;

  &:hover,
  &:focus {
    background-color: rgb(255 255 255 / 25%);
  }
}

.popup-video__box {
  position: relative;
  height: 100%;
  display: flex;
  flex-direction: column;
  padding: 50px 25px;
}

.popup-video__list {
  position: relative;
  display: flex;
  flex-grow: 1;
  flex-shrink: 1;

  .swiper-slide {
    opacity: 0;
    pointer-events: none;
    transition: opacity 1s;
  }

  .swiper-slide-active {
    opacity: 1;
    pointer-events: auto;
  }
}

.popup-video__item {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;

  iframe {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 100%;
    height: 100%;
    border: 0;
    transform: translate(-50%, -50%);

    @media screen and (orientation: landscape) {
      @supports (aspect-ratio: 16/9) {
        height: auto;
        max-height: 100%;
        aspect-ratio: 1082/609;
      }
    }
  }
}

.popup-video__item-title {
  margin: 0 0 0.44em;
  font-family: 'SaolDisplay', serif;
  font-style: italic;
  font-weight: 300;
  font-size: 30px;
  line-height: 100%;
  color: #a6857e;
}

.popup-video__item-box {
  position: relative;
  overflow: hidden;
  flex-grow: 1;
  flex-shrink: 1;
}

.popup-video__item-link {
  transition: opacity 0.3s !important;

  &[hidden] {
    display: none;
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    top: 50%;
    left: 50%;
    width: 70px;
    height: 70px;
    z-index: 2;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.7);
    border: 1px solid rgba(255, 255, 255, 0.3);
    -webkit-backdrop-filter: blur(12px);
    backdrop-filter: blur(12px);
    background-image: url('../images/shared/play.svg');
    background-size: 20px 20px;
    background-position: center center;
    background-repeat: no-repeat;
    transform: translate(-50%, -50%);
    -webkit-transition: background-color .3s;
    -moz-transition: background-color .3s;
    -ms-transition: background-color .3s;
    -o-transition: background-color .3s;
    transition: background-color .3s;
  }

  &:hover {
    &:before {
      background-color: #fff;
    }
  }
}

.popup-video__item-poster {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: contain;
  border: 0;
}

.popup-video__navigation-prev,
.popup-video__navigation-next {
  display: none;
}

.popup-video__pagination {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin-top: 15px;

  .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    margin: 15px 15px 0 !important;
    background: #fff;
    border: 1px solid transparent;
    background-clip: padding-box;

    &:hover,
    &:focus {
      background-color: #f0bb82;
      opacity: 1;
    }
  }

  .swiper-pagination-bullet-active {
    background: #fff;
  }
}

//############################################################################
//------------------------- MEDIA QUERIES
//############################################################################
@media (min-width: #{map-get($grid-breakpoints, md)}) {
  .popup-video__close {
    top: 50px;
    right: 50px;
    width: 60px;
    height: 60px;
    background-size: 14px auto;
  }

  .popup-video__item-title {
    font-size: 60px;
  }

  .popup-video__pagination {
    .swiper-pagination-bullet {
      margin: 35px 27px 0 !important;
    }
  }
} // md

@media (min-width: #{map-get($grid-breakpoints, lg)}) {
  .popup-video__item-title {
    font-size: 90px;
  }

  .popup-video__pagination {
    margin-top: 82px;
  }

  .popup-video__item-link {
    &:before {
      background-size: 36px 36px;
      height: 120px;
      width: 120px;
    }
  }
} // lg

@media (min-width: #{map-get($grid-breakpoints, xl)}) {
  .popup-video__box {
    padding-left: 140px;
    padding-right: 140px;
  }

  .popup-video__navigation-prev,
  .popup-video__navigation-next {
    cursor: pointer;
    position: absolute;
    overflow: hidden;
    display: block;
    top: 50%;
    width: 240px;
    height: 240px;
    z-index: 9;
    background: var(--bg) no-repeat;
    background-size: cover;
    border-radius: 50%;

    &::before {
      content: '';
      display: block;
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: url('../images/shared/left-arrow.svg') right 10px center
        no-repeat;
      background-size: 40% auto;
    }

    &.swiper-button-disabled {
      display: none;
    }
  }

  .popup-video__navigation-prev {
    left: 0;
    transform: translate(-50%, -50%);
  }

  .popup-video__navigation-next {
    right: 0;
    transform: translate(50%, -50%);

    &::before {
      transform: scale(-1, 1);
    }
  }
} // xl

@media (min-width: #{map-get($grid-breakpoints, xxl)}) {
  .popup-video__navigation-prev,
  .popup-video__navigation-next {
    width: 360px;
    height: 360px;
  }
} // xxl
