.quality-life {
  position: relative;
  overflow: hidden;
  background: #EBEBEB url('../images/quality-life/bg.svg') 50% 330px no-repeat;
}

.quality-life__box {
  position: relative;
  max-width: 1660px;
  padding: 70px 15px 50px;
  margin: 0 auto;
}

.quality-life__title {
  margin: 0 0 92px;
  font-size: 36px;
  font-weight: 400;
  line-height: 1.2;
  text-align: center;

  .string1 {
    display: block;
    font-family: 'SaolDisplay', serif;
    font-size: 45px;
    line-height: 1;
  }

  .string2 {
    display: block;
    margin: 10px 0;
    font-family: 'SaolDisplay', serif;
    font-size: 45px;
    font-style: italic;
    font-weight: 300;
    line-height: 1;
  }
}

.quality-life__item {
  font-size: 15px;
  font-weight: 400;
  line-height: 140%;
  text-align: center;

  &  + & {
    display: none;
  }
}


.quality-life__item-title {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0 0 15px;
  font-size: 20px;
  font-weight: 500;
  line-height: 100%;
}

.quality-life__item-title-icon {
  flex-shrink: 0;
  width: 30px;
  height: 30px;
  margin: 0 10px;
  background: url('../images/quality-life/title-icon.png') no-repeat;
  background-size: contain;
}

.quality-life__item-img {
  margin: 28px auto 0;
  border-radius: 50%;
  height: 180px;
  width: 180px;
  object-fit: cover;
}

.quality-life__logo {
  display: block;
  width: 150px;
  margin: 92px auto 0;
}

//############################################################################
//------------------------- MEDIA QUERIES
//############################################################################
@include adptmob($stab-r) {
  .quality-life__list {
    display: flex;
    justify-content: center;
  }

  .quality-life__item {
    margin: 0 auto;

    &:nth-of-type(2) {
      display: block;

      .quality-life__item-title {
        transform: translate(25px, 0);
      }
    }
  }

  .quality-life__item-img {
    width: 180px;
  }
}

@include adptmob($mtab-r) {
  .quality-life__item {
    &:nth-of-type(3) {
      display: block;
    }
  }
}

@include adptmob($desm-r) {
  .quality-life {
    padding: 0;
    background-position: 50% 135px;
  }

  .quality-life__box {
    min-height: 900px;
    padding-top: 120px;
    padding-bottom: 140px;
  }

  .quality-life__title {
    width: 500px;
    margin-right: auto;
  }

  .quality-life__item {
    position: absolute;

    &:nth-of-type(1) {
      top: 668px;
      left: 21%;

      .quality-life__item-img {
        bottom: 100%;
        left: -125px;
        margin-bottom: 28px;
        height: 240px;
        width: 240px;
      }
    }

    &:nth-of-type(2) {
      top: 122px;
      left: 50%;
      transform: translate(-50%, 0);


      .quality-life__item-title {
        transform: translate(35px, 0);
      }

      .quality-life__item-img {
        top: -32px;
        left: 100%;
        margin-left: 180px;
        height: 360px;
        width: 360px;
      }
    }

    &:nth-of-type(3) {
      top: 668px;
      right: 20%;

      .quality-life__item-img {
        bottom: 100%;
        left: 46%;
        margin-bottom: 99px;
        height: 150px;
        width: 150px;
      }
    }
  }

  .quality-life__item-title {
    font-size: 26px;
  }

  .quality-life__item-title-icon {
    width: 34px;
    height: 34px;
    margin: 0 18px;
  }

  .quality-life__item-img {
    position: absolute;
    width: auto;
    margin: 0;
  }

  .quality-life__logo {
    position: absolute;
    top: 461px;
    left: 50%;
    width: 231px;
    margin: 0;
    transform: translate(-50%, 0);
  }
}

@include adptmob(1600) {
  .quality-life__title {
    font-size: 50px;


    .string1 {
      font-size: 70px;
    }

    .string2 {
      margin: 12px 0 15px;
      font-size: 70px;
    }
  }

  .quality-life__item {
    &:nth-of-type(1) {
      .quality-life__item-img {
        left: -195px;
      }
    }

    &:nth-of-type(2) {
      .quality-life__item-img {
        margin-left: 229px;
      }
    }
  }
}
