.roadmap {
  position: relative;
  color: #fff;
  background:  url('../images/roadmap/bg.svg') 0 0 no-repeat, url('../images/roadmap/bg2.svg') 0 100% no-repeat;
  background-color: #738471;
  background-size: 300px auto, contain;
}

.roadmap__box {
  max-width: 1670px;
  padding: 70px 25px 46px;
  margin: 0 auto;
}

.roadmap__header {
  margin-bottom: 72px;
  color: #3B3633;
}

.roadmap__title {
  margin: 0 0 20px;
  font-family: 'SaolDisplay', serif;
  font-size: 45px;
  font-weight: 400;
  line-height: 100%;
}

.roadmap__subtitle {
  font-size: 15px;
  font-weight: 500;
  line-height: 140%;
}

.roadmap__list {
  display: grid;
  gap: 40px;
  padding-bottom: 40px;
}

.roadmap__item {
  position: relative;
  padding: 23px 0 17px;
  font-size: 14px;
  font-weight: 400;
  line-height: 140%;

  &::before {
    position: absolute;
    top: 100%;
    left: 15px;
    display: block;
    height: 40px;
    content: '';
    border-left: 2px solid #fff;
  }
}

.roadmap__item-period {
  position: relative;
  padding-bottom: 36px;
  margin-bottom: 12px;
  font-size: 26px;
  font-weight: 500;
  line-height: 100%;
  background: url('../images/roadmap/dots-v.svg') left 15px bottom 3px no-repeat;
}

.roadmap__item-title {
  margin: 0 0 18px;
  font-size: 26px;
  font-weight: 500;
  line-height: 100%;
}

.roadmap__item-img {
  margin-top: 17px;
}

//############################################################################
//------------------------- MEDIA QUERIES
//############################################################################
@include adptmob($stab-r) {
  .roadmap__title {
    margin-bottom: 30px;
    font-size: 70px;
  }

  .roadmap__subtitle {
    font-size: 18px;
  }

  .roadmap__item {
    font-size: 20px;
  }

  .roadmap__item-period {
    font-size: 36px;
  }

  .roadmap__item-title {
    margin-bottom: 20px;
    font-size: 36px;
  }

  .roadmap__item-img {
    margin-top: 40px;
  }
}

@include adptmob($desm-r) {
  .roadmap {
    background-image: url('../images/roadmap/bg.svg'), url('../images/roadmap/bg2-768.svg');
    background-size: 690px auto, contain;
  }

  .roadmap__box {
    padding-top: 150px;
    padding-bottom: 150px;
  }

  .roadmap__header {
    position: absolute;
    top: 150px;
    width: 344px;
  }

  .roadmap__list {
    position: relative;
    background: linear-gradient(90deg, #fff, #fff) 50% 0 no-repeat;
    background-size: 2px 100%;
  }

  .roadmap__item {
    position: relative;
    gap: 0;
    width: calc(50% - 310px);
    padding: 0;

    &::before {
      display: none;
    }

    &:nth-of-type(2n + 1) {
      margin-left: auto;

      .roadmap__item-period {
        left: -420px;

        &::before {
          left: 100%;
          margin-left: 30px;
        }
      }
    }

    &:nth-of-type(2n) {
      .roadmap__item-period {
        left: 100%;
        margin-left: 200px;

        &::before {
          right: 100%;
          margin-right: 30px;
          transform: scale(-1, 1);
        }
      }


      .roadmap__item-img {
        display: grid;
        justify-content: end;
      }
    }

    // 2n + 1
    &:nth-of-type(1) {
      margin-bottom: 150px;
    }

    &:nth-of-type(3) {
      margin-top: -173px;
      margin-bottom: 230px;
    }

    &:nth-of-type(5) {
      margin-top: -380px;
      margin-bottom: 150px;
    }

    &:nth-of-type(7) {
      margin-top: -77px;
      margin-bottom: 150px;
    }

    &:nth-of-type(9) {
      margin-top: -120px;
      margin-bottom: 368px;
    }

    &:nth-of-type(11) {
      margin-top: -80px;
    }

    // 2n
    &:nth-of-type(2) {
      margin-top: -387px;
    }

    &:nth-of-type(4) {
      margin-top: -156px;
    }

    &:nth-of-type(6) {
      margin-top: -185px;
    }

    &:nth-of-type(8) {
      margin-top: -543px;
    }

    &:nth-of-type(10) {
      margin-top: -298px;
    }
  }

  .roadmap__item-period {
    position: absolute;
    top: -12px;
    z-index: 1;
    width: 220px;
    padding:  12px 0;
    text-align: center;
    background: none;

    &::before {
      position: absolute;
      top: 19px;
      display: block;
      width: 75px;
      height: 20px;
      content: '';
      background: url('../images/roadmap/dots-h.svg') 100% 50% no-repeat;
      background-size: contain;
    }

    &::after {
      position: absolute;
      top: 0;
      left: 50%;
      z-index: -1;
      display: block;
      width: 2px;
      height: 100%;
      margin-left: -1px;
      content: '';
      background: #738471;
    }
  }
}


