.team {
  position: relative;
  padding: 70px 0;
  color: #ebebeb;
  background: #363a45;
}

.team__box {
  overflow: hidden;
  position: relative;
  padding: 0 25px;
  margin: 0 auto;
  max-width: (1620px + 50);
}

.team__title {
  font-weight: 400;
  font-size: 45px;
  margin: 0 0 35px;
  line-height: 100%;
}

.team__pagination {
  display: none;
}

.team__navigation {
  display: none;
}

.team__list {
  display: flex;
  position: relative;
  align-items: stretch;
}

.team__item {
  position: relative;
  height: auto;

  > article {
    position: relative;
    height: 100%;
    display: flex;
    flex-direction: column;
  }

  &:hover,
  &:focus {
    color: #b5d8d6;

    .team__item-text {
      color: inherit;
    }
  }
}

.team__item-img {
  width: 290px;
  max-width: 100%;
  overflow: hidden;
  position: relative;
  border-radius: 50%;
  margin: 0 0 -10px;

  &::before {
    content: '';
    display: block;
    padding-top: 100%;
  }

  img {
    position: absolute;
    top: 0;
    left: 0;
    display: block;
    object-fit: cover;
    height: 100%;
    width: 100%;
  }
}

.team__item-name {
  position: relative;
  margin: 0 0 10px;
  font-weight: 500;
  font-size: 20px;
  line-height: 100%;
  text-transform: uppercase;
  z-index: 2;
}

.team__item-text {
  font-weight: 400;
  font-size: 14px;
  line-height: 140%;
  color: #656c7e;
  margin-bottom: auto;
  transition: color 0.3s;
}

.team__item-actions {
  text-align: right;
  margin-top: 29px;
  font-family: 'SaolDisplay', serif;
  font-weight: 400;
  font-size: 20px;
  line-height: 100%;
  color: #d7ae9c;
}

.team__item-btn {
  padding-left: 34px;
  line-height: 24px;

  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 24px;
    height: 24px;
    margin-left: -34px;
    background: url('../images/team/play.svg') no-repeat;
    background-size: auto 100%;
  }

  &::after {
    content: '';
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 9;
  }

  &:hover,
  &:focus {
    color: #b5d8d6;

    &::before {
      filter: brightness(0) saturate(100%) invert(93%) sepia(19%) saturate(275%)
        hue-rotate(118deg) brightness(88%) contrast(92%);
    }
  }
}

//############################################################################
//------------------------- MEDIA QUERIES
//############################################################################
@media (min-width: #{map-get($grid-breakpoints, md)}) {
  .team__pagination {
    position: absolute;
    top: 15px;
    left: 50%;
    display: flex;
    justify-content: center;

    .swiper-pagination-bullet {
      width: 10px;
      height: 10px;
      margin: 0 4px !important;
      background: #fff;
      border: 1px solid transparent;
      background-clip: padding-box;

      &:hover,
      &:focus {
        background-color: #f0bb82;
        opacity: 1;
      }
    }

    .swiper-pagination-bullet-active {
      background: #fff;
    }
  }

  .team__navigation {
    position: absolute;
    top: 5px;
    right: 25px;
    display: grid;
    grid-template-columns: repeat(2, 110px);
    gap: 30px;
  }

  .team__navigation-prev,
  .team__navigation-next {
    display: block;
    width: 100%;
    height: 30px;
    background: url('../images/shared/left-arrow.svg') 0 50% no-repeat;
    background-size: contain;
  }

  .team__navigation-next {
    transform: scale(-1, 1);
  }
} // md

@media (min-width: #{map-get($grid-breakpoints, lg)}) {
  .team {
    padding: 120px 0 90px;
  }

  .team__title {
    font-size: 70px;
    margin-bottom: 50px;
  }

  .team__pagination {
    top: 26px;
  }

  .team__navigation {
    top: 15px;
    grid-template-columns: repeat(2, 140px);
    gap: 80px;
  }

  .team__item-img {
    width: 360px;
    margin-bottom: -20px;
  }

  .team__item-name {
    font-size: 26px;
  }

  .team__item-text {
    font-size: 15px;
  }

  .team__item-btn {
    font-size: 24px;
  }
} // lg
