.whitepaper {
  position: relative;
  overflow: hidden;
  padding: 210px 25px 215px;
  color: #fff;
  background: #3b4f65 url("../images/whitepaper/bg.jpg") 50% 0 no-repeat;
  background-size: cover;

  @supports (background-image: image-set(url("bg.jpg"))) {
    background-image: image-set(
      url("../images/whitepaper/bg.jpg") 1x,
      url("../images/whitepaper/bg@2x.jpg") 2x
    );
  }
}

.whitepaper__title {
  margin: 0;
  font-family: "SaolDisplay", serif;
  font-weight: 300;
  font-size: 36px;
  line-height: 100%;
  text-align: center;

  strong {
    display: block;
    margin-top: 5px;
    font-weight: 300;
    font-size: 50px;
    color: #b5d8d6;
  }
}

.whitepaper__btn {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 34px auto 0;
  padding-top: 2px;
  width: 220px;
  height: 50px;
  background: rgba(255, 255, 255, 0.1);
  border: 1px solid rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(15px);
  font-weight: 700;
  font-size: 14px;
  line-height: 130%;
  text-transform: uppercase;

  &::before {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    margin-right: 10px;
    flex-shrink: 0;
    background: url("../images/shared/file.svg") no-repeat;
    background-size: contain;
  }

  &:hover,
  &:focus {
    background-color: rgba(255, 255, 255, 0.3);
  }
}

//############################################################################
//------------------------- MEDIA QUERIES
//############################################################################
@media (min-width: 480px) {
  .whitepaper {
    background-image: url("../images/whitepaper/bg-480.jpg");

    @supports (background-image: image-set(url("bg.jpg"))) {
      background-image: image-set(
        url("../images/whitepaper/bg-480.jpg") 1x,
        url("../images/whitepaper/bg-480@2x.jpg") 2x
      );
    }
  }
} // 480

@media (min-width: #{map-get($grid-breakpoints, lg)}) {
  .whitepaper {
    padding-top: 270px;
    padding-bottom: 290px;
  }

  .whitepaper__title {
    font-size: 90px;

    strong {
      margin-top: 20px;
      font-size: 120px;
    }
  }

  .whitepaper__btn {
    margin-top: 40px;
    width: 260px;
    height: 70px;
    font-size: 15px;

    &::before {
      width: 30px;
      height: 30px;
      margin-right: 18px;
    }
  }
} // lg
