<header class="header">

  <div class="header__bg">
    <img class="header__bg-img" src="images/head-bg.png" alt="Bg-header">
  </div>

  <div class="header__content">

    <div class="header__top">

      <div class="header__burger-wrap">
        <button class="header__burger burger js-toggle-menu" type="button">
          <img class="burger__img" width="24" height="24" src="images/icon/menu.svg" alt="Open menu img">
          <span class="burger__text">
            Menu
          </span>
          <img class="burger__img-close" width="14" height="14" src="images/icon/close.svg" alt="">
        </button>
      </div>

      <div class="header__logo-wrap">
        <a class="header__logo logo" href="#">
          <img class="logo__img" width="120" height="61" src="images/logo.svg" alt="logo">
        </a>
      </div>

      <div class="header__wallet-wrap">
        <a class="header__wallet" href="#">
          <span class="header__wallet-text">
            Connect Wallet
          </span>
          <img class="header__wallet-img" src="images/icon/doc-w.svg" alt="wallet connect">
        </a>
      </div>
    </div>

    <div class="header__center container">
      <div class="header__center-left header__column">
        <div class="header__circle header__circle_blue header__circle_big">
          <span class="_hide-1024">Membership</span>
          <span class="_show-1024">Member</span>
          <span class="_show-1024">ship</span>
        </div>
        <div class="header__promo _hide-768">
          Your new all-inclusive getaway with extraordinary and memorable experiences waiting to happen
        </div>
      </div>
      <div class="header__center-content">
        NATURE
        <span class="_us">TEACHES</span>
        <span class="_italic">us</span> AND WE
        ABIDE
      </div>
      <div class="header__center-right header__column">
        <div class="header__promo header__promo_pos1">
          A new way of living, focused on solutions that
          optimize health, longevity & sustainability
        </div>
        <div class="header__circle header__circle_orange">
          Join Whitelist
        </div>
      </div>
    </div>

    <div class="header__bottom">
      <a class="header__arrow" href="#">
        <img class="header__arrow-img" width="10" height="10" src="images/icon/arrow-down.svg" alt="arrow-down">
      </a>
    </div>
  </div>

  <div class="header__menu menu">
    <div class="menu__inner">
      <div class="menu__main">

        <div class="menu__top">
          <img class="menu__top-img" width="57" height="55" src="images/decor/menu-decor.svg" alt="decor">

          <button class="menu__close js-toggle-menu" type="button">
            <img class="menu__close-img" width="14" height="14" src="images/icon/close.svg" alt="close menu">
          </button>
        </div>

        <div class="menu__center container">

          <ul class="menu__list menu__column_margin-left">
            <li class="menu__item">
              <a class="menu__link _active" href="#">
                Home
              </a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#">
                About OYA
              </a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#">
                Your Journey
              </a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#">
                Roadmap
              </a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#">
                Mint NFT
              </a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#">
                Gallery
              </a>
            </li>
            <li class="menu__item">
              <a class="menu__link" href="#">
                News
              </a>
            </li>
          </ul>

          <div class="menu__right menu__column_margin-left">
            <div class="menu__right-top">
              <div class="menu__right-text menu__right-text-title">
                contacts
              </div>
              <a class="menu__email" href="mailto:oya@oyanewearth.com">
                oya@oyanewearth.com
              </a>
              <a class="menu__whitepaper _show-768" href="#">
                <svg class="menu__whitepaper-img" width="30" height="30" viewBox="0 0 30 30" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <g clip-path="url(#clip0_375_287)">
                    <path
                      d="M26.25 10V26.2413C26.2512 26.4054 26.22 26.5682 26.1582 26.7203C26.0965 26.8724 26.0053 27.0108 25.8901 27.1277C25.7748 27.2446 25.6377 27.3376 25.4864 27.4015C25.3352 27.4654 25.1729 27.4989 25.0088 27.5H4.99125C4.66227 27.5 4.34674 27.3694 4.114 27.1369C3.88125 26.9044 3.75033 26.589 3.75 26.26V3.74C3.75 3.06875 4.31125 2.5 5.0025 2.5H18.7463L26.25 10ZM23.75 11.25H17.5V5H6.25V25H23.75V11.25Z"
                      fill="white" />
                  </g>
                  <defs>
                    <clipPath id="clip0_375_287">
                      <rect width="30" height="30" fill="white" />
                    </clipPath>
                  </defs>
                </svg>
                <span>whitepaper</span>
              </a>
            </div>
            <div class="menu__right-bottom">
              <ul class="menu__contacts">
                <li class="menu__contacts-item">
                  <a class="menu__contacts-link menu__contacts-link_discord menu__right-text" href="#">
                    Discord
                  </a>
                </li>
                <li class="menu__contacts-item">
                  <a class="menu__contacts-link menu__right-text menu__contacts-link_twitter" href="#">
                    Twitter
                  </a>
                </li>
                <li class="menu__contacts-item">
                  <a class="menu__contacts-link menu__right-text menu__contacts-link_instagram" href="#">
                    Instagram
                  </a>
                </li>
                <li class="menu__contacts-item">
                  <a class="menu__contacts-link menu__right-text menu__contacts-link_telegram" href="#">
                    Telegram
                  </a>
                </li>
              </ul>
              <a class="menu__whitepaper _hide-768" href="#">
                <svg class="menu__whitepaper-img" width="30" height="30" viewBox="0 0 30 30" fill="none"
                  xmlns="http://www.w3.org/2000/svg">
                  <g clip-path="url(#clip0_375_287)">
                    <path
                      d="M26.25 10V26.2413C26.2512 26.4054 26.22 26.5682 26.1582 26.7203C26.0965 26.8724 26.0053 27.0108 25.8901 27.1277C25.7748 27.2446 25.6377 27.3376 25.4864 27.4015C25.3352 27.4654 25.1729 27.4989 25.0088 27.5H4.99125C4.66227 27.5 4.34674 27.3694 4.114 27.1369C3.88125 26.9044 3.75033 26.589 3.75 26.26V3.74C3.75 3.06875 4.31125 2.5 5.0025 2.5H18.7463L26.25 10ZM23.75 11.25H17.5V5H6.25V25H23.75V11.25Z"
                      fill="white" />
                  </g>
                  <defs>
                    <clipPath id="clip0_375_287">
                      <rect width="30" height="30" fill="white" />
                    </clipPath>
                  </defs>
                </svg>
                <span>whitepaper</span>
              </a>
            </div>
          </div>

        </div>

      </div>

      <div class="menu__bottom">
        <div class="menu__copyright menu__text">
          © OYA. ALL RIGHTS RESERVED
        </div>
        <a class="menu__text menu__link-policy menu__column_margin-left" href="#">
          PRIVACY POLICY
        </a>
      </div>

    </div>
  </div>

</header>