@include('components/_head.html')

@include('components/_header.html')

<main class="main">

  <section class="pillars">
    <div class="pillars__top">

      <div class="pillars__title">
        <div class="pillars__title-top">
          the
        </div>
        <div class="pillars__title-bot">
          Pillars
        </div>
      </div>

      <div class="pillars__inner">

        <div class="pillars__item">
          <img class="pillars__img pillars__img_1" src="images/pillars/1.jpg" alt="pillars-img">
          <div class="pillars__item-title">
            Connect
          </div>
          <div class="pillars__discr">
            Meaning in life comes from connection. A deep connection to yourself, a deep connection to loved ones and
            humanity as a whole, and a connection to nature. Meaning can be found within natural limits.
          </div>
        </div>

        <div class="pillars__item">
          <img class="pillars__img pillars__img_2" src="images/pillars/2.jpg" alt="pillars-img">
          <div class="pillars__item-title">
            heal
          </div>
          <div class="pillars__discr">
            Heal your body. Heal your mind. Heal your spirit. Heal your relationships. Heal nature. It's time to stop
            coping and actually heal.
          </div>
        </div>

        <div class="pillars__item">
          <img class="pillars__img" src="images/pillars/3.jpg" alt="pillars-img">
          <div class="pillars__item-title">
            Live
          </div>
          <div class="pillars__discr">
            The world we want to live in is going to have to be discovered together as a collective. The discussion
            starts with our habits. It starts with how we live.
          </div>
        </div>


      </div>

    </div>

    <div class="pillars__slider ">


      <div class="swiper js-pillars-slider pillars__slider-inner">

        <div class="slider-button-prev slider-button pillars__slider-btn">
          <svg width="140" height="11" viewBox="0 0 140 11" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect y="5" width="129" height="1" fill="#3B3633" />
            <path d="M140 5.5L131 0V11L140 5.5Z" fill="#3B3633" />
          </svg>
        </div>
        <div class="slider-button-next slider-button pillars__slider-btn">
          <svg width="140" height="11" viewBox="0 0 140 11" fill="none" xmlns="http://www.w3.org/2000/svg">
            <rect y="5" width="129" height="1" fill="#3B3633" />
            <path d="M140 5.5L131 0V11L140 5.5Z" fill="#3B3633" />
          </svg>
        </div>

        <div class="swiper-wrapper">
          <div class="swiper-slide pillars__slide-wrap">
            <div class="pillars__slide" style="background-image: url('images/pillars/slider-1.jpg');">
              <div class="pillars__text">
                East meets West with a combination of nutraceuticals and medical grade supplements based on the latest
                research in longevity.
              </div>
            </div>
          </div>
          <div class="swiper-slide pillars__slide-wrap">
            <div class="pillars__slide" style="background-image: url('images/pillars/slider-2.jpg');">
              <div class="pillars__text">
                The latest technologies in individualized health tracking and diagnostics to provide you with a
                personalized plan for your future health.
              </div>
            </div>
          </div>
          <div class="swiper-slide pillars__slide-wrap">
            <div class="pillars__slide" style="background-image: url('images/pillars/slider-3.jpg');">
              <div class="pillars__text">
                East meets West with a combination of nutraceuticals and medical grade supplements based on the latest
                research in longevity.
              </div>
            </div>
          </div>
          <div class="swiper-slide pillars__slide-wrap">
            <div class="pillars__slide" style="background-image: url('images/pillars/slider-1.jpg');">
              <div class="pillars__text">
                East meets West with a combination of nutraceuticals and medical grade supplements based on the latest
                research in longevity.
              </div>
            </div>
          </div>
        </div>

      </div>
    </div>
  </section>

  <section class="journey">
    <div class="journey__inner">

      <div class="journey__title">
        <div class="journey__title-top">
          the
        </div>
        <div class="journey__title-bot">
          JOURNEY
        </div>
      </div>


      <div class="journey__slider-inner">

        <div class="swiper js-journey-slider journey__slider">

          <div class="slider-button-prev slider-button journey__slider-btn">
            <svg width="140" height="11" viewBox="0 0 140 11" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect y="5" width="129" height="1" fill="#ffffff" />
              <path d="M140 5.5L131 0V11L140 5.5Z" fill="#ffffff" />
            </svg>
          </div>
          <div class="slider-button-next slider-button journey__slider-btn">
            <svg width="140" height="11" viewBox="0 0 140 11" fill="none" xmlns="http://www.w3.org/2000/svg">
              <rect y="5" width="129" height="1" fill="#ffffff" />
              <path d="M140 5.5L131 0V11L140 5.5Z" fill="#ffffff" />
            </svg>
          </div>

          <div class="swiper-wrapper">

            <div class="swiper-slide journey__slide-wrap">
              <div class="journey__slide">
                <img class="journey__img" src="images/journey/1.png" width="640" height="640" alt="journey-img">
                <div class="journey__content">
                  <div class="journey__content-title">
                    Heal
                  </div>
                  <div class="journey__text">
                    The Active Life and Health Tracking
                  </div>
                </div>
              </div>
            </div>

            <div class="swiper-slide journey__slide-wrap">
              <div class="journey__slide">
                <img class="journey__img" src="images/journey/2.png" width="640" height="640" alt="journey-img">
                <div class="journey__content">
                  <div class="journey__content-title">
                    Heal
                  </div>
                  <div class="journey__text">
                    The Active Life and Health Tracking
                  </div>
                </div>
              </div>
            </div>

            <div class="swiper-slide journey__slide-wrap">
              <div class="journey__slide">
                <img class="journey__img" src="images/journey/3.png" width="640" height="640" alt="journey-img">
                <div class="journey__content">
                  <div class="journey__content-title">
                    Heal
                  </div>
                  <div class="journey__text">
                    The Active Life and Health Tracking
                  </div>
                </div>
              </div>
            </div>

            <div class="swiper-slide journey__slide-wrap">
              <div class="journey__slide">
                <img class="journey__img" src="images/journey/4.png" width="640" height="640" alt="journey-img">
                <div class="journey__content">
                  <div class="journey__content-title">
                    Heal
                  </div>
                  <div class="journey__text">
                    The Active Life and Health Tracking
                  </div>
                </div>
              </div>
            </div>

            <div class="swiper-slide journey__slide-wrap">
              <div class="journey__slide">
                <img class="journey__img" src="images/journey/5.png" width="640" height="640" alt="journey-img">
                <div class="journey__content">
                  <div class="journey__content-title">
                    Heal
                  </div>
                  <div class="journey__text">
                    The Active Life and Health Tracking
                  </div>
                </div>
              </div>
            </div>

            <div class="swiper-slide journey__slide-wrap">
              <div class="journey__slide">
                <img class="journey__img" src="images/journey/6.png" width="640" height="640" alt="journey-img">
                <div class="journey__content">
                  <div class="journey__content-title">
                    Heal
                  </div>
                  <div class="journey__text">
                    The Active Life and Health Tracking
                  </div>
                </div>
              </div>
            </div>


          </div>

        </div>

      </div>

    </div>
  </section>

  <section class="locations" style="background-image: url('images/locations/bg.png');">
    <div class="locations__inner">
      <div class="locations__marks">

        <div class="locations__mark locations__mark_1 js-locations-mark" id="mark-1">
          <svg width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_235_933)">
              <path
                d="M53.5617 50.6435L35 69.2051L16.4383 50.6435C12.7672 46.9723 10.2672 42.295 9.25437 37.203C8.24154 32.111 8.76139 26.8331 10.7482 22.0365C12.735 17.24 16.0995 13.1403 20.4163 10.2559C24.7331 7.37156 29.8083 5.83203 35 5.83203C40.1918 5.83203 45.2669 7.37156 49.5837 10.2559C53.9005 13.1403 57.265 17.24 59.2518 22.0365C61.2386 26.8331 61.7585 32.111 60.7457 37.203C59.7328 42.295 57.2328 46.9723 53.5617 50.6435Z"
                fill="#D7AE9C" />
              <path opacity="0.7" class="locations-path"
                d="M35.0026 44.2494C38.2294 44.2494 41.324 42.9675 43.6057 40.6858C45.8874 38.4041 47.1693 35.3095 47.1693 32.0827C47.1693 28.8559 45.8874 25.7612 43.6057 23.4796C41.324 21.1979 38.2294 19.916 35.0026 19.916C31.7758 19.916 28.6812 21.1979 26.3995 23.4796C24.1178 25.7612 22.8359 28.8559 22.8359 32.0827C22.8359 35.3095 24.1178 38.4041 26.3995 40.6858C28.6812 42.9675 31.7758 44.2494 35.0026 44.2494ZM35.0026 37.416C33.5881 37.416 32.2316 36.8541 31.2314 35.8539C30.2312 34.8537 29.6693 33.4972 29.6693 32.0827C29.6693 30.6682 30.2312 29.3116 31.2314 28.3114C32.2316 27.3113 33.5881 26.7493 35.0026 26.7493C36.4171 26.7493 37.7736 27.3113 38.7738 28.3114C39.774 29.3116 40.3359 30.6682 40.3359 32.0827C40.3359 33.4972 39.774 34.8537 38.7738 35.8539C37.7736 36.8541 36.4171 37.416 35.0026 37.416Z"
                stroke="#3B3633" />
            </g>
            <defs>
              <clipPath id="clip0_235_933">
                <rect width="70" height="70" fill="white" />
              </clipPath>
            </defs>
          </svg>
        </div>
        <div class="locations__mark locations__mark_2 js-locations-mark _active" id="mark-2">
          <svg width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_235_933)">
              <path
                d="M53.5617 50.6435L35 69.2051L16.4383 50.6435C12.7672 46.9723 10.2672 42.295 9.25437 37.203C8.24154 32.111 8.76139 26.8331 10.7482 22.0365C12.735 17.24 16.0995 13.1403 20.4163 10.2559C24.7331 7.37156 29.8083 5.83203 35 5.83203C40.1918 5.83203 45.2669 7.37156 49.5837 10.2559C53.9005 13.1403 57.265 17.24 59.2518 22.0365C61.2386 26.8331 61.7585 32.111 60.7457 37.203C59.7328 42.295 57.2328 46.9723 53.5617 50.6435Z"
                fill="#D7AE9C" />
              <path opacity="0.7" class="locations-path"
                d="M35.0026 44.2494C38.2294 44.2494 41.324 42.9675 43.6057 40.6858C45.8874 38.4041 47.1693 35.3095 47.1693 32.0827C47.1693 28.8559 45.8874 25.7612 43.6057 23.4796C41.324 21.1979 38.2294 19.916 35.0026 19.916C31.7758 19.916 28.6812 21.1979 26.3995 23.4796C24.1178 25.7612 22.8359 28.8559 22.8359 32.0827C22.8359 35.3095 24.1178 38.4041 26.3995 40.6858C28.6812 42.9675 31.7758 44.2494 35.0026 44.2494ZM35.0026 37.416C33.5881 37.416 32.2316 36.8541 31.2314 35.8539C30.2312 34.8537 29.6693 33.4972 29.6693 32.0827C29.6693 30.6682 30.2312 29.3116 31.2314 28.3114C32.2316 27.3113 33.5881 26.7493 35.0026 26.7493C36.4171 26.7493 37.7736 27.3113 38.7738 28.3114C39.774 29.3116 40.3359 30.6682 40.3359 32.0827C40.3359 33.4972 39.774 34.8537 38.7738 35.8539C37.7736 36.8541 36.4171 37.416 35.0026 37.416Z"
                stroke="#3B3633" />
            </g>
            <defs>
              <clipPath>
                <rect width="70" height="70" fill="white" />
              </clipPath>
            </defs>
          </svg>
        </div>
        <div class="locations__mark locations__mark_3 js-locations-mark" id="mark-3">
          <svg width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_235_933)">
              <path
                d="M53.5617 50.6435L35 69.2051L16.4383 50.6435C12.7672 46.9723 10.2672 42.295 9.25437 37.203C8.24154 32.111 8.76139 26.8331 10.7482 22.0365C12.735 17.24 16.0995 13.1403 20.4163 10.2559C24.7331 7.37156 29.8083 5.83203 35 5.83203C40.1918 5.83203 45.2669 7.37156 49.5837 10.2559C53.9005 13.1403 57.265 17.24 59.2518 22.0365C61.2386 26.8331 61.7585 32.111 60.7457 37.203C59.7328 42.295 57.2328 46.9723 53.5617 50.6435Z"
                fill="#D7AE9C" />
              <path opacity="0.7" class="locations-path"
                d="M35.0026 44.2494C38.2294 44.2494 41.324 42.9675 43.6057 40.6858C45.8874 38.4041 47.1693 35.3095 47.1693 32.0827C47.1693 28.8559 45.8874 25.7612 43.6057 23.4796C41.324 21.1979 38.2294 19.916 35.0026 19.916C31.7758 19.916 28.6812 21.1979 26.3995 23.4796C24.1178 25.7612 22.8359 28.8559 22.8359 32.0827C22.8359 35.3095 24.1178 38.4041 26.3995 40.6858C28.6812 42.9675 31.7758 44.2494 35.0026 44.2494ZM35.0026 37.416C33.5881 37.416 32.2316 36.8541 31.2314 35.8539C30.2312 34.8537 29.6693 33.4972 29.6693 32.0827C29.6693 30.6682 30.2312 29.3116 31.2314 28.3114C32.2316 27.3113 33.5881 26.7493 35.0026 26.7493C36.4171 26.7493 37.7736 27.3113 38.7738 28.3114C39.774 29.3116 40.3359 30.6682 40.3359 32.0827C40.3359 33.4972 39.774 34.8537 38.7738 35.8539C37.7736 36.8541 36.4171 37.416 35.0026 37.416Z"
                stroke="#3B3633" />
            </g>
            <defs>
              <clipPath>
                <rect width="70" height="70" fill="white" />
              </clipPath>
            </defs>
          </svg>
        </div>
        <div class="locations__mark locations__mark_4 js-locations-mark" id="mark-4">
          <svg width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_235_933)">
              <path
                d="M53.5617 50.6435L35 69.2051L16.4383 50.6435C12.7672 46.9723 10.2672 42.295 9.25437 37.203C8.24154 32.111 8.76139 26.8331 10.7482 22.0365C12.735 17.24 16.0995 13.1403 20.4163 10.2559C24.7331 7.37156 29.8083 5.83203 35 5.83203C40.1918 5.83203 45.2669 7.37156 49.5837 10.2559C53.9005 13.1403 57.265 17.24 59.2518 22.0365C61.2386 26.8331 61.7585 32.111 60.7457 37.203C59.7328 42.295 57.2328 46.9723 53.5617 50.6435Z"
                fill="#D7AE9C" />
              <path opacity="0.7" class="locations-path"
                d="M35.0026 44.2494C38.2294 44.2494 41.324 42.9675 43.6057 40.6858C45.8874 38.4041 47.1693 35.3095 47.1693 32.0827C47.1693 28.8559 45.8874 25.7612 43.6057 23.4796C41.324 21.1979 38.2294 19.916 35.0026 19.916C31.7758 19.916 28.6812 21.1979 26.3995 23.4796C24.1178 25.7612 22.8359 28.8559 22.8359 32.0827C22.8359 35.3095 24.1178 38.4041 26.3995 40.6858C28.6812 42.9675 31.7758 44.2494 35.0026 44.2494ZM35.0026 37.416C33.5881 37.416 32.2316 36.8541 31.2314 35.8539C30.2312 34.8537 29.6693 33.4972 29.6693 32.0827C29.6693 30.6682 30.2312 29.3116 31.2314 28.3114C32.2316 27.3113 33.5881 26.7493 35.0026 26.7493C36.4171 26.7493 37.7736 27.3113 38.7738 28.3114C39.774 29.3116 40.3359 30.6682 40.3359 32.0827C40.3359 33.4972 39.774 34.8537 38.7738 35.8539C37.7736 36.8541 36.4171 37.416 35.0026 37.416Z"
                stroke="#3B3633" />
            </g>
            <defs>
              <clipPath id="clip0_235_933">
                <rect width="70" height="70" fill="white" />
              </clipPath>
            </defs>
          </svg>
        </div>
        <div class="locations__mark locations__mark_5 js-locations-mark" id="mark-5">
          <svg width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_235_933)">
              <path
                d="M53.5617 50.6435L35 69.2051L16.4383 50.6435C12.7672 46.9723 10.2672 42.295 9.25437 37.203C8.24154 32.111 8.76139 26.8331 10.7482 22.0365C12.735 17.24 16.0995 13.1403 20.4163 10.2559C24.7331 7.37156 29.8083 5.83203 35 5.83203C40.1918 5.83203 45.2669 7.37156 49.5837 10.2559C53.9005 13.1403 57.265 17.24 59.2518 22.0365C61.2386 26.8331 61.7585 32.111 60.7457 37.203C59.7328 42.295 57.2328 46.9723 53.5617 50.6435Z"
                fill="#D7AE9C" />
              <path opacity="0.7" class="locations-path"
                d="M35.0026 44.2494C38.2294 44.2494 41.324 42.9675 43.6057 40.6858C45.8874 38.4041 47.1693 35.3095 47.1693 32.0827C47.1693 28.8559 45.8874 25.7612 43.6057 23.4796C41.324 21.1979 38.2294 19.916 35.0026 19.916C31.7758 19.916 28.6812 21.1979 26.3995 23.4796C24.1178 25.7612 22.8359 28.8559 22.8359 32.0827C22.8359 35.3095 24.1178 38.4041 26.3995 40.6858C28.6812 42.9675 31.7758 44.2494 35.0026 44.2494ZM35.0026 37.416C33.5881 37.416 32.2316 36.8541 31.2314 35.8539C30.2312 34.8537 29.6693 33.4972 29.6693 32.0827C29.6693 30.6682 30.2312 29.3116 31.2314 28.3114C32.2316 27.3113 33.5881 26.7493 35.0026 26.7493C36.4171 26.7493 37.7736 27.3113 38.7738 28.3114C39.774 29.3116 40.3359 30.6682 40.3359 32.0827C40.3359 33.4972 39.774 34.8537 38.7738 35.8539C37.7736 36.8541 36.4171 37.416 35.0026 37.416Z"
                stroke="#3B3633" />
            </g>
            <defs>
              <clipPath id="clip0_235_933">
                <rect width="70" height="70" fill="white" />
              </clipPath>
            </defs>
          </svg>
        </div>
        <div class="locations__mark locations__mark_6 js-locations-mark" id="mark-6">
          <svg width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_235_933)">
              <path
                d="M53.5617 50.6435L35 69.2051L16.4383 50.6435C12.7672 46.9723 10.2672 42.295 9.25437 37.203C8.24154 32.111 8.76139 26.8331 10.7482 22.0365C12.735 17.24 16.0995 13.1403 20.4163 10.2559C24.7331 7.37156 29.8083 5.83203 35 5.83203C40.1918 5.83203 45.2669 7.37156 49.5837 10.2559C53.9005 13.1403 57.265 17.24 59.2518 22.0365C61.2386 26.8331 61.7585 32.111 60.7457 37.203C59.7328 42.295 57.2328 46.9723 53.5617 50.6435Z"
                fill="#D7AE9C" />
              <path opacity="0.7" class="locations-path"
                d="M35.0026 44.2494C38.2294 44.2494 41.324 42.9675 43.6057 40.6858C45.8874 38.4041 47.1693 35.3095 47.1693 32.0827C47.1693 28.8559 45.8874 25.7612 43.6057 23.4796C41.324 21.1979 38.2294 19.916 35.0026 19.916C31.7758 19.916 28.6812 21.1979 26.3995 23.4796C24.1178 25.7612 22.8359 28.8559 22.8359 32.0827C22.8359 35.3095 24.1178 38.4041 26.3995 40.6858C28.6812 42.9675 31.7758 44.2494 35.0026 44.2494ZM35.0026 37.416C33.5881 37.416 32.2316 36.8541 31.2314 35.8539C30.2312 34.8537 29.6693 33.4972 29.6693 32.0827C29.6693 30.6682 30.2312 29.3116 31.2314 28.3114C32.2316 27.3113 33.5881 26.7493 35.0026 26.7493C36.4171 26.7493 37.7736 27.3113 38.7738 28.3114C39.774 29.3116 40.3359 30.6682 40.3359 32.0827C40.3359 33.4972 39.774 34.8537 38.7738 35.8539C37.7736 36.8541 36.4171 37.416 35.0026 37.416Z"
                stroke="#3B3633" />
            </g>
            <defs>
              <clipPath id="clip0_235_933">
                <rect width="70" height="70" fill="white" />
              </clipPath>
            </defs>
          </svg>
        </div>
        <div class="locations__mark locations__mark_7 js-locations-mark" id="mark-7">
          <svg width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_235_933)">
              <path
                d="M53.5617 50.6435L35 69.2051L16.4383 50.6435C12.7672 46.9723 10.2672 42.295 9.25437 37.203C8.24154 32.111 8.76139 26.8331 10.7482 22.0365C12.735 17.24 16.0995 13.1403 20.4163 10.2559C24.7331 7.37156 29.8083 5.83203 35 5.83203C40.1918 5.83203 45.2669 7.37156 49.5837 10.2559C53.9005 13.1403 57.265 17.24 59.2518 22.0365C61.2386 26.8331 61.7585 32.111 60.7457 37.203C59.7328 42.295 57.2328 46.9723 53.5617 50.6435Z"
                fill="#D7AE9C" />
              <path opacity="0.7" class="locations-path"
                d="M35.0026 44.2494C38.2294 44.2494 41.324 42.9675 43.6057 40.6858C45.8874 38.4041 47.1693 35.3095 47.1693 32.0827C47.1693 28.8559 45.8874 25.7612 43.6057 23.4796C41.324 21.1979 38.2294 19.916 35.0026 19.916C31.7758 19.916 28.6812 21.1979 26.3995 23.4796C24.1178 25.7612 22.8359 28.8559 22.8359 32.0827C22.8359 35.3095 24.1178 38.4041 26.3995 40.6858C28.6812 42.9675 31.7758 44.2494 35.0026 44.2494ZM35.0026 37.416C33.5881 37.416 32.2316 36.8541 31.2314 35.8539C30.2312 34.8537 29.6693 33.4972 29.6693 32.0827C29.6693 30.6682 30.2312 29.3116 31.2314 28.3114C32.2316 27.3113 33.5881 26.7493 35.0026 26.7493C36.4171 26.7493 37.7736 27.3113 38.7738 28.3114C39.774 29.3116 40.3359 30.6682 40.3359 32.0827C40.3359 33.4972 39.774 34.8537 38.7738 35.8539C37.7736 36.8541 36.4171 37.416 35.0026 37.416Z"
                stroke="#3B3633" />
            </g>
            <defs>
              <clipPath id="clip0_235_933">
                <rect width="70" height="70" fill="white" />
              </clipPath>
            </defs>
          </svg>
        </div>
        <div class="locations__mark locations__mark_8 js-locations-mark" id="mark-8">
          <svg width="70" height="70" viewBox="0 0 70 70" fill="none" xmlns="http://www.w3.org/2000/svg">
            <g clip-path="url(#clip0_235_933)">
              <path
                d="M53.5617 50.6435L35 69.2051L16.4383 50.6435C12.7672 46.9723 10.2672 42.295 9.25437 37.203C8.24154 32.111 8.76139 26.8331 10.7482 22.0365C12.735 17.24 16.0995 13.1403 20.4163 10.2559C24.7331 7.37156 29.8083 5.83203 35 5.83203C40.1918 5.83203 45.2669 7.37156 49.5837 10.2559C53.9005 13.1403 57.265 17.24 59.2518 22.0365C61.2386 26.8331 61.7585 32.111 60.7457 37.203C59.7328 42.295 57.2328 46.9723 53.5617 50.6435Z"
                fill="#D7AE9C" />
              <path opacity="0.7" class="locations-path"
                d="M35.0026 44.2494C38.2294 44.2494 41.324 42.9675 43.6057 40.6858C45.8874 38.4041 47.1693 35.3095 47.1693 32.0827C47.1693 28.8559 45.8874 25.7612 43.6057 23.4796C41.324 21.1979 38.2294 19.916 35.0026 19.916C31.7758 19.916 28.6812 21.1979 26.3995 23.4796C24.1178 25.7612 22.8359 28.8559 22.8359 32.0827C22.8359 35.3095 24.1178 38.4041 26.3995 40.6858C28.6812 42.9675 31.7758 44.2494 35.0026 44.2494ZM35.0026 37.416C33.5881 37.416 32.2316 36.8541 31.2314 35.8539C30.2312 34.8537 29.6693 33.4972 29.6693 32.0827C29.6693 30.6682 30.2312 29.3116 31.2314 28.3114C32.2316 27.3113 33.5881 26.7493 35.0026 26.7493C36.4171 26.7493 37.7736 27.3113 38.7738 28.3114C39.774 29.3116 40.3359 30.6682 40.3359 32.0827C40.3359 33.4972 39.774 34.8537 38.7738 35.8539C37.7736 36.8541 36.4171 37.416 35.0026 37.416Z"
                stroke="#3B3633" />
            </g>
            <defs>
              <clipPath id="clip0_235_933">
                <rect width="70" height="70" fill="white" />
              </clipPath>
            </defs>
          </svg>
        </div>
      </div>
      <div class="locations__content">

        <div class="locations__left">

          <div class="locations__slider-inner">

            <div class="swiper locations__slider js-locations-slider">

              <div class="swiper-pagination"></div>


              <div class="slider-button-prev slider-button locations__slider-btn">
                <svg width="140" height="11" viewBox="0 0 140 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect y="5" width="129" height="1" fill="#ffffff" />
                  <path d="M140 5.5L131 0V11L140 5.5Z" fill="#ffffff" />
                </svg>
              </div>
              <div class="slider-button-next slider-button locations__slider-btn">
                <svg width="140" height="11" viewBox="0 0 140 11" fill="none" xmlns="http://www.w3.org/2000/svg">
                  <rect y="5" width="129" height="1" fill="#ffffff" />
                  <path d="M140 5.5L131 0V11L140 5.5Z" fill="#ffffff" />
                </svg>
              </div>

              <div class="locations__subtitle">
                LOCATIONS
              </div>

              <div class="swiper-wrapper">
                <div class="swiper-slide">
                  <div class="locations__item">
                    <div class="locations__title">
                      Damac Hills
                    </div>
                    <div class="locations__text-inner">
                      <p class="locations__text">
                        We are forming a New Earth
                        community delivering solutions that
                        optimize activity, longevity, and
                        wellness in unforgettable locations
                        around the world.
                      </p>
                      <p class="locations__text">The longevity sector is on track to be a multi trillion dollar
                        industry. World’s leaders are heavily investing in longevity tools.
                      </p>
                    </div>
                    <div class="locations__coord">
                      <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g opacity="0.7" clip-path="url(#clip0_235_959)">
                          <path opacity="0.7"
                            d="M22.6014 21.3513L15 28.9528L7.39856 21.3513C5.89516 19.8479 4.87133 17.9325 4.45655 15.8472C4.04177 13.7619 4.25467 11.6004 5.06831 9.63612C5.88196 7.67182 7.25981 5.99291 9.02764 4.81169C10.7955 3.63047 12.8739 3 15 3C17.1261 3 19.2045 3.63047 20.9724 4.81169C22.7402 5.99291 24.118 7.67182 24.9317 9.63612C25.7453 11.6004 25.9582 13.7619 25.5435 15.8472C25.1287 17.9325 24.1048 19.8479 22.6014 21.3513Z"
                            stroke="#EBEBEB" />
                          <path opacity="0.7"
                            d="M15 19.25C16.4587 19.25 17.8576 18.6705 18.8891 17.6391C19.9205 16.6076 20.5 15.2087 20.5 13.75C20.5 12.2913 19.9205 10.8924 18.8891 9.86091C17.8576 8.82946 16.4587 8.25 15 8.25C13.5413 8.25 12.1424 8.82946 11.1109 9.86091C10.0795 10.8924 9.5 12.2913 9.5 13.75C9.5 15.2087 10.0795 16.6076 11.1109 17.6391C12.1424 18.6705 13.5413 19.25 15 19.25ZM15 15.75C14.4696 15.75 13.9609 15.5393 13.5858 15.1642C13.2107 14.7891 13 14.2804 13 13.75C13 13.2196 13.2107 12.7109 13.5858 12.3358C13.9609 11.9607 14.4696 11.75 15 11.75C15.5304 11.75 16.0391 11.9607 16.4142 12.3358C16.7893 12.7109 17 13.2196 17 13.75C17 14.2804 16.7893 14.7891 16.4142 15.1642C16.0391 15.5393 15.5304 15.75 15 15.75Z"
                            stroke="#EBEBEB" />
                        </g>
                        <defs>
                          <clipPath>
                            <rect width="30" height="30" fill="white" />
                          </clipPath>
                        </defs>
                      </svg>
                      <div class="locations__coord-text">
                        <span>20.2536° </span> N / <span>69.3321°</span>W
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="locations__item">
                    <div class="locations__title">
                      Damac Hills 2
                    </div>
                    <div class="locations__text-inner">
                      <p class="locations__text">
                        We are forming a New Earth
                        community delivering solutions that
                        optimize activity, longevity, and
                        wellness in unforgettable locations
                        around the world.
                      </p>
                      <p class="locations__text">The longevity sector is on track to be a multi trillion dollar
                        industry. World’s leaders are heavily investing in longevity tools.
                      </p>
                    </div>
                    <div class="locations__coord">
                      <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g opacity="0.7" clip-path="url(#clip0_235_959)">
                          <path opacity="0.7"
                            d="M22.6014 21.3513L15 28.9528L7.39856 21.3513C5.89516 19.8479 4.87133 17.9325 4.45655 15.8472C4.04177 13.7619 4.25467 11.6004 5.06831 9.63612C5.88196 7.67182 7.25981 5.99291 9.02764 4.81169C10.7955 3.63047 12.8739 3 15 3C17.1261 3 19.2045 3.63047 20.9724 4.81169C22.7402 5.99291 24.118 7.67182 24.9317 9.63612C25.7453 11.6004 25.9582 13.7619 25.5435 15.8472C25.1287 17.9325 24.1048 19.8479 22.6014 21.3513Z"
                            stroke="#EBEBEB" />
                          <path opacity="0.7"
                            d="M15 19.25C16.4587 19.25 17.8576 18.6705 18.8891 17.6391C19.9205 16.6076 20.5 15.2087 20.5 13.75C20.5 12.2913 19.9205 10.8924 18.8891 9.86091C17.8576 8.82946 16.4587 8.25 15 8.25C13.5413 8.25 12.1424 8.82946 11.1109 9.86091C10.0795 10.8924 9.5 12.2913 9.5 13.75C9.5 15.2087 10.0795 16.6076 11.1109 17.6391C12.1424 18.6705 13.5413 19.25 15 19.25ZM15 15.75C14.4696 15.75 13.9609 15.5393 13.5858 15.1642C13.2107 14.7891 13 14.2804 13 13.75C13 13.2196 13.2107 12.7109 13.5858 12.3358C13.9609 11.9607 14.4696 11.75 15 11.75C15.5304 11.75 16.0391 11.9607 16.4142 12.3358C16.7893 12.7109 17 13.2196 17 13.75C17 14.2804 16.7893 14.7891 16.4142 15.1642C16.0391 15.5393 15.5304 15.75 15 15.75Z"
                            stroke="#EBEBEB" />
                        </g>
                        <defs>
                          <clipPath>
                            <rect width="30" height="30" fill="white" />
                          </clipPath>
                        </defs>
                      </svg>
                      <div class="locations__coord-text">
                        <span>20.2536° </span> N / <span>69.3321°</span>W
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="locations__item">
                    <div class="locations__title">
                      Damac Hills 3
                    </div>
                    <div class="locations__text-inner">
                      <p class="locations__text">
                        We are forming a New Earth
                        community delivering solutions that
                        optimize activity, longevity, and
                        wellness in unforgettable locations
                        around the world.
                      </p>
                      <p class="locations__text">The longevity sector is on track to be a multi trillion dollar
                        industry. World’s leaders are heavily investing in longevity tools.
                      </p>
                    </div>
                    <div class="locations__coord">
                      <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g opacity="0.7" clip-path="url(#clip0_235_959)">
                          <path opacity="0.7"
                            d="M22.6014 21.3513L15 28.9528L7.39856 21.3513C5.89516 19.8479 4.87133 17.9325 4.45655 15.8472C4.04177 13.7619 4.25467 11.6004 5.06831 9.63612C5.88196 7.67182 7.25981 5.99291 9.02764 4.81169C10.7955 3.63047 12.8739 3 15 3C17.1261 3 19.2045 3.63047 20.9724 4.81169C22.7402 5.99291 24.118 7.67182 24.9317 9.63612C25.7453 11.6004 25.9582 13.7619 25.5435 15.8472C25.1287 17.9325 24.1048 19.8479 22.6014 21.3513Z"
                            stroke="#EBEBEB" />
                          <path opacity="0.7"
                            d="M15 19.25C16.4587 19.25 17.8576 18.6705 18.8891 17.6391C19.9205 16.6076 20.5 15.2087 20.5 13.75C20.5 12.2913 19.9205 10.8924 18.8891 9.86091C17.8576 8.82946 16.4587 8.25 15 8.25C13.5413 8.25 12.1424 8.82946 11.1109 9.86091C10.0795 10.8924 9.5 12.2913 9.5 13.75C9.5 15.2087 10.0795 16.6076 11.1109 17.6391C12.1424 18.6705 13.5413 19.25 15 19.25ZM15 15.75C14.4696 15.75 13.9609 15.5393 13.5858 15.1642C13.2107 14.7891 13 14.2804 13 13.75C13 13.2196 13.2107 12.7109 13.5858 12.3358C13.9609 11.9607 14.4696 11.75 15 11.75C15.5304 11.75 16.0391 11.9607 16.4142 12.3358C16.7893 12.7109 17 13.2196 17 13.75C17 14.2804 16.7893 14.7891 16.4142 15.1642C16.0391 15.5393 15.5304 15.75 15 15.75Z"
                            stroke="#EBEBEB" />
                        </g>
                        <defs>
                          <clipPath>
                            <rect width="30" height="30" fill="white" />
                          </clipPath>
                        </defs>
                      </svg>
                      <div class="locations__coord-text">
                        <span>20.2536° </span> N / <span>69.3321°</span>W
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="locations__item">
                    <div class="locations__title">
                      Damac Hills 4
                    </div>
                    <div class="locations__text-inner">

                      <p class="locations__text">The longevity sector is on track to be a multi trillion dollar
                        industry. World’s leaders are heavily investing in longevity tools.
                      </p>
                    </div>
                    <div class="locations__coord">
                      <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g opacity="0.7" clip-path="url(#clip0_235_959)">
                          <path opacity="0.7"
                            d="M22.6014 21.3513L15 28.9528L7.39856 21.3513C5.89516 19.8479 4.87133 17.9325 4.45655 15.8472C4.04177 13.7619 4.25467 11.6004 5.06831 9.63612C5.88196 7.67182 7.25981 5.99291 9.02764 4.81169C10.7955 3.63047 12.8739 3 15 3C17.1261 3 19.2045 3.63047 20.9724 4.81169C22.7402 5.99291 24.118 7.67182 24.9317 9.63612C25.7453 11.6004 25.9582 13.7619 25.5435 15.8472C25.1287 17.9325 24.1048 19.8479 22.6014 21.3513Z"
                            stroke="#EBEBEB" />
                          <path opacity="0.7"
                            d="M15 19.25C16.4587 19.25 17.8576 18.6705 18.8891 17.6391C19.9205 16.6076 20.5 15.2087 20.5 13.75C20.5 12.2913 19.9205 10.8924 18.8891 9.86091C17.8576 8.82946 16.4587 8.25 15 8.25C13.5413 8.25 12.1424 8.82946 11.1109 9.86091C10.0795 10.8924 9.5 12.2913 9.5 13.75C9.5 15.2087 10.0795 16.6076 11.1109 17.6391C12.1424 18.6705 13.5413 19.25 15 19.25ZM15 15.75C14.4696 15.75 13.9609 15.5393 13.5858 15.1642C13.2107 14.7891 13 14.2804 13 13.75C13 13.2196 13.2107 12.7109 13.5858 12.3358C13.9609 11.9607 14.4696 11.75 15 11.75C15.5304 11.75 16.0391 11.9607 16.4142 12.3358C16.7893 12.7109 17 13.2196 17 13.75C17 14.2804 16.7893 14.7891 16.4142 15.1642C16.0391 15.5393 15.5304 15.75 15 15.75Z"
                            stroke="#EBEBEB" />
                        </g>
                        <defs>
                          <clipPath>
                            <rect width="30" height="30" fill="white" />
                          </clipPath>
                        </defs>
                      </svg>
                      <div class="locations__coord-text">
                        <span>20.2536° </span> N / <span>69.3321°</span>W
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="locations__item">
                    <div class="locations__title">
                      Damac Hills 5
                    </div>
                    <div class="locations__text-inner">
                      <p class="locations__text">
                        We are forming a New Earth
                        community delivering solutions that
                        optimize activity, longevity, and
                        wellness in unforgettable locations
                        around the world.
                      </p>
                      <p class="locations__text">
                        We are forming a New Earth
                        community delivering solutions that
                        optimize activity, longevity, and
                        wellness in unforgettable locations
                        around the world.
                      </p>
                      <p class="locations__text">The longevity sector is on track to be a multi trillion dollar
                        industry. World’s leaders are heavily investing in longevity tools.
                      </p>
                    </div>
                    <div class="locations__coord">
                      <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g opacity="0.7" clip-path="url(#clip0_235_959)">
                          <path opacity="0.7"
                            d="M22.6014 21.3513L15 28.9528L7.39856 21.3513C5.89516 19.8479 4.87133 17.9325 4.45655 15.8472C4.04177 13.7619 4.25467 11.6004 5.06831 9.63612C5.88196 7.67182 7.25981 5.99291 9.02764 4.81169C10.7955 3.63047 12.8739 3 15 3C17.1261 3 19.2045 3.63047 20.9724 4.81169C22.7402 5.99291 24.118 7.67182 24.9317 9.63612C25.7453 11.6004 25.9582 13.7619 25.5435 15.8472C25.1287 17.9325 24.1048 19.8479 22.6014 21.3513Z"
                            stroke="#EBEBEB" />
                          <path opacity="0.7"
                            d="M15 19.25C16.4587 19.25 17.8576 18.6705 18.8891 17.6391C19.9205 16.6076 20.5 15.2087 20.5 13.75C20.5 12.2913 19.9205 10.8924 18.8891 9.86091C17.8576 8.82946 16.4587 8.25 15 8.25C13.5413 8.25 12.1424 8.82946 11.1109 9.86091C10.0795 10.8924 9.5 12.2913 9.5 13.75C9.5 15.2087 10.0795 16.6076 11.1109 17.6391C12.1424 18.6705 13.5413 19.25 15 19.25ZM15 15.75C14.4696 15.75 13.9609 15.5393 13.5858 15.1642C13.2107 14.7891 13 14.2804 13 13.75C13 13.2196 13.2107 12.7109 13.5858 12.3358C13.9609 11.9607 14.4696 11.75 15 11.75C15.5304 11.75 16.0391 11.9607 16.4142 12.3358C16.7893 12.7109 17 13.2196 17 13.75C17 14.2804 16.7893 14.7891 16.4142 15.1642C16.0391 15.5393 15.5304 15.75 15 15.75Z"
                            stroke="#EBEBEB" />
                        </g>
                        <defs>
                          <clipPath>
                            <rect width="30" height="30" fill="white" />
                          </clipPath>
                        </defs>
                      </svg>
                      <div class="locations__coord-text">
                        <span>20.2536° </span> N / <span>69.3321°</span>W
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="locations__item">
                    <div class="locations__title">
                      Damac Hills 6
                    </div>
                    <div class="locations__text-inner">
                      <p class="locations__text">
                        We are forming a New Earth
                        community delivering solutions that
                        optimize activity, longevity, and
                        wellness in unforgettable locations
                        around the world.
                      </p>
                      <p class="locations__text">The longevity sector is on track to be a multi trillion dollar
                        industry. World’s leaders are heavily investing in longevity tools.
                      </p>
                    </div>
                    <div class="locations__coord">
                      <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g opacity="0.7" clip-path="url(#clip0_235_959)">
                          <path opacity="0.7"
                            d="M22.6014 21.3513L15 28.9528L7.39856 21.3513C5.89516 19.8479 4.87133 17.9325 4.45655 15.8472C4.04177 13.7619 4.25467 11.6004 5.06831 9.63612C5.88196 7.67182 7.25981 5.99291 9.02764 4.81169C10.7955 3.63047 12.8739 3 15 3C17.1261 3 19.2045 3.63047 20.9724 4.81169C22.7402 5.99291 24.118 7.67182 24.9317 9.63612C25.7453 11.6004 25.9582 13.7619 25.5435 15.8472C25.1287 17.9325 24.1048 19.8479 22.6014 21.3513Z"
                            stroke="#EBEBEB" />
                          <path opacity="0.7"
                            d="M15 19.25C16.4587 19.25 17.8576 18.6705 18.8891 17.6391C19.9205 16.6076 20.5 15.2087 20.5 13.75C20.5 12.2913 19.9205 10.8924 18.8891 9.86091C17.8576 8.82946 16.4587 8.25 15 8.25C13.5413 8.25 12.1424 8.82946 11.1109 9.86091C10.0795 10.8924 9.5 12.2913 9.5 13.75C9.5 15.2087 10.0795 16.6076 11.1109 17.6391C12.1424 18.6705 13.5413 19.25 15 19.25ZM15 15.75C14.4696 15.75 13.9609 15.5393 13.5858 15.1642C13.2107 14.7891 13 14.2804 13 13.75C13 13.2196 13.2107 12.7109 13.5858 12.3358C13.9609 11.9607 14.4696 11.75 15 11.75C15.5304 11.75 16.0391 11.9607 16.4142 12.3358C16.7893 12.7109 17 13.2196 17 13.75C17 14.2804 16.7893 14.7891 16.4142 15.1642C16.0391 15.5393 15.5304 15.75 15 15.75Z"
                            stroke="#EBEBEB" />
                        </g>
                        <defs>
                          <clipPath>
                            <rect width="30" height="30" fill="white" />
                          </clipPath>
                        </defs>
                      </svg>
                      <div class="locations__coord-text">
                        <span>20.2536° </span> N / <span>69.3321°</span>W
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="locations__item">
                    <div class="locations__title">
                      Damac Hills 7
                    </div>
                    <div class="locations__text-inner">
                      <p class="locations__text">
                        We are forming a New Earth
                        community delivering solutions that
                        optimize activity, longevity, and
                        wellness in unforgettable locations
                        around the world.
                      </p>
                      <p class="locations__text">The longevity sector is on track to be a multi trillion dollar
                        industry. World’s leaders are heavily investing in longevity tools.
                      </p>
                    </div>
                    <div class="locations__coord">
                      <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g opacity="0.7" clip-path="url(#clip0_235_959)">
                          <path opacity="0.7"
                            d="M22.6014 21.3513L15 28.9528L7.39856 21.3513C5.89516 19.8479 4.87133 17.9325 4.45655 15.8472C4.04177 13.7619 4.25467 11.6004 5.06831 9.63612C5.88196 7.67182 7.25981 5.99291 9.02764 4.81169C10.7955 3.63047 12.8739 3 15 3C17.1261 3 19.2045 3.63047 20.9724 4.81169C22.7402 5.99291 24.118 7.67182 24.9317 9.63612C25.7453 11.6004 25.9582 13.7619 25.5435 15.8472C25.1287 17.9325 24.1048 19.8479 22.6014 21.3513Z"
                            stroke="#EBEBEB" />
                          <path opacity="0.7"
                            d="M15 19.25C16.4587 19.25 17.8576 18.6705 18.8891 17.6391C19.9205 16.6076 20.5 15.2087 20.5 13.75C20.5 12.2913 19.9205 10.8924 18.8891 9.86091C17.8576 8.82946 16.4587 8.25 15 8.25C13.5413 8.25 12.1424 8.82946 11.1109 9.86091C10.0795 10.8924 9.5 12.2913 9.5 13.75C9.5 15.2087 10.0795 16.6076 11.1109 17.6391C12.1424 18.6705 13.5413 19.25 15 19.25ZM15 15.75C14.4696 15.75 13.9609 15.5393 13.5858 15.1642C13.2107 14.7891 13 14.2804 13 13.75C13 13.2196 13.2107 12.7109 13.5858 12.3358C13.9609 11.9607 14.4696 11.75 15 11.75C15.5304 11.75 16.0391 11.9607 16.4142 12.3358C16.7893 12.7109 17 13.2196 17 13.75C17 14.2804 16.7893 14.7891 16.4142 15.1642C16.0391 15.5393 15.5304 15.75 15 15.75Z"
                            stroke="#EBEBEB" />
                        </g>
                        <defs>
                          <clipPath>
                            <rect width="30" height="30" fill="white" />
                          </clipPath>
                        </defs>
                      </svg>
                      <div class="locations__coord-text">
                        <span>20.2536° </span> N / <span>69.3321°</span>W
                      </div>
                    </div>
                  </div>
                </div>
                <div class="swiper-slide">
                  <div class="locations__item">
                    <div class="locations__title">
                      Damac Hills 8
                    </div>
                    <div class="locations__text-inner">
                      <p class="locations__text">
                        We are forming a New Earth
                        community delivering solutions that
                        optimize activity, longevity, and
                        wellness in unforgettable locations
                        around the world.
                      </p>
                      <p class="locations__text">The longevity sector is on track to be a multi trillion dollar
                        industry. World’s leaders are heavily investing in longevity tools.
                      </p>
                    </div>
                    <div class="locations__coord">
                      <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                        <g opacity="0.7" clip-path="url(#clip0_235_959)">
                          <path opacity="0.7"
                            d="M22.6014 21.3513L15 28.9528L7.39856 21.3513C5.89516 19.8479 4.87133 17.9325 4.45655 15.8472C4.04177 13.7619 4.25467 11.6004 5.06831 9.63612C5.88196 7.67182 7.25981 5.99291 9.02764 4.81169C10.7955 3.63047 12.8739 3 15 3C17.1261 3 19.2045 3.63047 20.9724 4.81169C22.7402 5.99291 24.118 7.67182 24.9317 9.63612C25.7453 11.6004 25.9582 13.7619 25.5435 15.8472C25.1287 17.9325 24.1048 19.8479 22.6014 21.3513Z"
                            stroke="#EBEBEB" />
                          <path opacity="0.7"
                            d="M15 19.25C16.4587 19.25 17.8576 18.6705 18.8891 17.6391C19.9205 16.6076 20.5 15.2087 20.5 13.75C20.5 12.2913 19.9205 10.8924 18.8891 9.86091C17.8576 8.82946 16.4587 8.25 15 8.25C13.5413 8.25 12.1424 8.82946 11.1109 9.86091C10.0795 10.8924 9.5 12.2913 9.5 13.75C9.5 15.2087 10.0795 16.6076 11.1109 17.6391C12.1424 18.6705 13.5413 19.25 15 19.25ZM15 15.75C14.4696 15.75 13.9609 15.5393 13.5858 15.1642C13.2107 14.7891 13 14.2804 13 13.75C13 13.2196 13.2107 12.7109 13.5858 12.3358C13.9609 11.9607 14.4696 11.75 15 11.75C15.5304 11.75 16.0391 11.9607 16.4142 12.3358C16.7893 12.7109 17 13.2196 17 13.75C17 14.2804 16.7893 14.7891 16.4142 15.1642C16.0391 15.5393 15.5304 15.75 15 15.75Z"
                            stroke="#EBEBEB" />
                        </g>
                        <defs>
                          <clipPath>
                            <rect width="30" height="30" fill="white" />
                          </clipPath>
                        </defs>
                      </svg>
                      <div class="locations__coord-text">
                        <span>20.2536° </span> N / <span>69.3321°</span>W
                      </div>
                    </div>
                  </div>
                </div>

              </div>


            </div>

          </div>
          <div class="locations__tabs">
            <div class="locations__subtitle">
              LOCATIONS
            </div>
            <div class="locations__tabs-top">
              <a class="locations__tabs-link js-locations-tabs _active" href="#location-1">
                New York
              </a>
              <a class="locations__tabs-link js-locations-tabs" href="#location-2">
                Virginia
              </a>
              <a class="locations__tabs-link js-locations-tabs" href="#location-3">
                Greecek
              </a>
              <a class="locations__tabs-link js-locations-tabs" href="#location-4">
                Dominican Republic
              </a>
              <a class="locations__tabs-link js-locations-tabs " href="#location-5">
                New Zealand
              </a>
              <a class="locations__tabs-link js-locations-tabs " href="#location-6">
                Iceland
              </a>
              <a class="locations__tabs-link js-locations-tabs " href="#location-7">
                Vietnam
              </a>
              <a class="locations__tabs-link js-locations-tabs " href="#location-8">
                Philippines 
              </a>
            </div>
            <div class="locations__tabs-bottom">
              <div class="locations__tabs-box _active" id="location-1">
                <div class="locations__item">
                  <div class="locations__title">
                    Damac Hills
                  </div>
                  <div class="locations__text-inner">
                    <p class="locations__text">
                      We are forming a New Earth
                      community delivering solutions that
                      optimize activity, longevity, and
                      wellness in unforgettable locations
                      around the world.
                    </p>
                    <p class="locations__text">The longevity sector is on track to be a multi trillion dollar
                      industry. World’s leaders are heavily investing in longevity tools.
                    </p>
                  </div>
                  <div class="locations__coord">
                    <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <g opacity="0.7" clip-path="url(#clip0_235_959)">
                        <path opacity="0.7"
                          d="M22.6014 21.3513L15 28.9528L7.39856 21.3513C5.89516 19.8479 4.87133 17.9325 4.45655 15.8472C4.04177 13.7619 4.25467 11.6004 5.06831 9.63612C5.88196 7.67182 7.25981 5.99291 9.02764 4.81169C10.7955 3.63047 12.8739 3 15 3C17.1261 3 19.2045 3.63047 20.9724 4.81169C22.7402 5.99291 24.118 7.67182 24.9317 9.63612C25.7453 11.6004 25.9582 13.7619 25.5435 15.8472C25.1287 17.9325 24.1048 19.8479 22.6014 21.3513Z"
                          stroke="#EBEBEB" />
                        <path opacity="0.7"
                          d="M15 19.25C16.4587 19.25 17.8576 18.6705 18.8891 17.6391C19.9205 16.6076 20.5 15.2087 20.5 13.75C20.5 12.2913 19.9205 10.8924 18.8891 9.86091C17.8576 8.82946 16.4587 8.25 15 8.25C13.5413 8.25 12.1424 8.82946 11.1109 9.86091C10.0795 10.8924 9.5 12.2913 9.5 13.75C9.5 15.2087 10.0795 16.6076 11.1109 17.6391C12.1424 18.6705 13.5413 19.25 15 19.25ZM15 15.75C14.4696 15.75 13.9609 15.5393 13.5858 15.1642C13.2107 14.7891 13 14.2804 13 13.75C13 13.2196 13.2107 12.7109 13.5858 12.3358C13.9609 11.9607 14.4696 11.75 15 11.75C15.5304 11.75 16.0391 11.9607 16.4142 12.3358C16.7893 12.7109 17 13.2196 17 13.75C17 14.2804 16.7893 14.7891 16.4142 15.1642C16.0391 15.5393 15.5304 15.75 15 15.75Z"
                          stroke="#EBEBEB" />
                      </g>
                      <defs>
                        <clipPath>
                          <rect width="30" height="30" fill="white" />
                        </clipPath>
                      </defs>
                    </svg>
                    <div class="locations__coord-text">
                      <span>20.2536° </span> N / <span>69.3321°</span>W
                    </div>
                  </div>
                </div>
              </div>
              <div class="locations__tabs-box" id="location-2">
                <div class="locations__item">
                  <div class="locations__title">
                    Damac Hills 2
                  </div>
                  <div class="locations__text-inner">
                    <p class="locations__text">
                      We are forming a New Earth
                      community delivering solutions that
                      optimize activity, longevity, and
                      wellness in unforgettable locations
                      around the world.
                    </p>
                    <p class="locations__text">The longevity sector is on track to be a multi trillion dollar
                      industry. World’s leaders are heavily investing in longevity tools.
                    </p>
                  </div>
                  <div class="locations__coord">
                    <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <g opacity="0.7" clip-path="url(#clip0_235_959)">
                        <path opacity="0.7"
                          d="M22.6014 21.3513L15 28.9528L7.39856 21.3513C5.89516 19.8479 4.87133 17.9325 4.45655 15.8472C4.04177 13.7619 4.25467 11.6004 5.06831 9.63612C5.88196 7.67182 7.25981 5.99291 9.02764 4.81169C10.7955 3.63047 12.8739 3 15 3C17.1261 3 19.2045 3.63047 20.9724 4.81169C22.7402 5.99291 24.118 7.67182 24.9317 9.63612C25.7453 11.6004 25.9582 13.7619 25.5435 15.8472C25.1287 17.9325 24.1048 19.8479 22.6014 21.3513Z"
                          stroke="#EBEBEB" />
                        <path opacity="0.7"
                          d="M15 19.25C16.4587 19.25 17.8576 18.6705 18.8891 17.6391C19.9205 16.6076 20.5 15.2087 20.5 13.75C20.5 12.2913 19.9205 10.8924 18.8891 9.86091C17.8576 8.82946 16.4587 8.25 15 8.25C13.5413 8.25 12.1424 8.82946 11.1109 9.86091C10.0795 10.8924 9.5 12.2913 9.5 13.75C9.5 15.2087 10.0795 16.6076 11.1109 17.6391C12.1424 18.6705 13.5413 19.25 15 19.25ZM15 15.75C14.4696 15.75 13.9609 15.5393 13.5858 15.1642C13.2107 14.7891 13 14.2804 13 13.75C13 13.2196 13.2107 12.7109 13.5858 12.3358C13.9609 11.9607 14.4696 11.75 15 11.75C15.5304 11.75 16.0391 11.9607 16.4142 12.3358C16.7893 12.7109 17 13.2196 17 13.75C17 14.2804 16.7893 14.7891 16.4142 15.1642C16.0391 15.5393 15.5304 15.75 15 15.75Z"
                          stroke="#EBEBEB" />
                      </g>
                      <defs>
                        <clipPath>
                          <rect width="30" height="30" fill="white" />
                        </clipPath>
                      </defs>
                    </svg>
                    <div class="locations__coord-text">
                      <span>20.2536° </span> N / <span>69.3321°</span>W
                    </div>
                  </div>
                </div>
              </div>
              <div class="locations__tabs-box" id="location-3">
                <div class="locations__item">
                  <div class="locations__title">
                    Damac Hills 3
                  </div>
                  <div class="locations__text-inner">
                    <p class="locations__text">
                      We are forming a New Earth
                      community delivering solutions that
                      optimize activity, longevity, and
                      wellness in unforgettable locations
                      around the world.
                    </p>
                    <p class="locations__text">The longevity sector is on track to be a multi trillion dollar
                      industry. World’s leaders are heavily investing in longevity tools.
                    </p>
                  </div>
                  <div class="locations__coord">
                    <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <g opacity="0.7" clip-path="url(#clip0_235_959)">
                        <path opacity="0.7"
                          d="M22.6014 21.3513L15 28.9528L7.39856 21.3513C5.89516 19.8479 4.87133 17.9325 4.45655 15.8472C4.04177 13.7619 4.25467 11.6004 5.06831 9.63612C5.88196 7.67182 7.25981 5.99291 9.02764 4.81169C10.7955 3.63047 12.8739 3 15 3C17.1261 3 19.2045 3.63047 20.9724 4.81169C22.7402 5.99291 24.118 7.67182 24.9317 9.63612C25.7453 11.6004 25.9582 13.7619 25.5435 15.8472C25.1287 17.9325 24.1048 19.8479 22.6014 21.3513Z"
                          stroke="#EBEBEB" />
                        <path opacity="0.7"
                          d="M15 19.25C16.4587 19.25 17.8576 18.6705 18.8891 17.6391C19.9205 16.6076 20.5 15.2087 20.5 13.75C20.5 12.2913 19.9205 10.8924 18.8891 9.86091C17.8576 8.82946 16.4587 8.25 15 8.25C13.5413 8.25 12.1424 8.82946 11.1109 9.86091C10.0795 10.8924 9.5 12.2913 9.5 13.75C9.5 15.2087 10.0795 16.6076 11.1109 17.6391C12.1424 18.6705 13.5413 19.25 15 19.25ZM15 15.75C14.4696 15.75 13.9609 15.5393 13.5858 15.1642C13.2107 14.7891 13 14.2804 13 13.75C13 13.2196 13.2107 12.7109 13.5858 12.3358C13.9609 11.9607 14.4696 11.75 15 11.75C15.5304 11.75 16.0391 11.9607 16.4142 12.3358C16.7893 12.7109 17 13.2196 17 13.75C17 14.2804 16.7893 14.7891 16.4142 15.1642C16.0391 15.5393 15.5304 15.75 15 15.75Z"
                          stroke="#EBEBEB" />
                      </g>
                      <defs>
                        <clipPath>
                          <rect width="30" height="30" fill="white" />
                        </clipPath>
                      </defs>
                    </svg>
                    <div class="locations__coord-text">
                      <span>20.2536° </span> N / <span>69.3321°</span>W
                    </div>
                  </div>
                </div>
              </div>
              <div class="locations__tabs-box" id="location-4">
                <div class="locations__item">
                  <div class="locations__title">
                    Damac Hills 4
                  </div>
                  <div class="locations__text-inner">
                    <p class="locations__text">
                      We are forming a New Earth
                      community delivering solutions that
                      optimize activity, longevity, and
                      wellness in unforgettable locations
                      around the world.
                    </p>
                    <p class="locations__text">The longevity sector is on track to be a multi trillion dollar
                      industry. World’s leaders are heavily investing in longevity tools.
                    </p>
                  </div>
                  <div class="locations__coord">
                    <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <g opacity="0.7" clip-path="url(#clip0_235_959)">
                        <path opacity="0.7"
                          d="M22.6014 21.3513L15 28.9528L7.39856 21.3513C5.89516 19.8479 4.87133 17.9325 4.45655 15.8472C4.04177 13.7619 4.25467 11.6004 5.06831 9.63612C5.88196 7.67182 7.25981 5.99291 9.02764 4.81169C10.7955 3.63047 12.8739 3 15 3C17.1261 3 19.2045 3.63047 20.9724 4.81169C22.7402 5.99291 24.118 7.67182 24.9317 9.63612C25.7453 11.6004 25.9582 13.7619 25.5435 15.8472C25.1287 17.9325 24.1048 19.8479 22.6014 21.3513Z"
                          stroke="#EBEBEB" />
                        <path opacity="0.7"
                          d="M15 19.25C16.4587 19.25 17.8576 18.6705 18.8891 17.6391C19.9205 16.6076 20.5 15.2087 20.5 13.75C20.5 12.2913 19.9205 10.8924 18.8891 9.86091C17.8576 8.82946 16.4587 8.25 15 8.25C13.5413 8.25 12.1424 8.82946 11.1109 9.86091C10.0795 10.8924 9.5 12.2913 9.5 13.75C9.5 15.2087 10.0795 16.6076 11.1109 17.6391C12.1424 18.6705 13.5413 19.25 15 19.25ZM15 15.75C14.4696 15.75 13.9609 15.5393 13.5858 15.1642C13.2107 14.7891 13 14.2804 13 13.75C13 13.2196 13.2107 12.7109 13.5858 12.3358C13.9609 11.9607 14.4696 11.75 15 11.75C15.5304 11.75 16.0391 11.9607 16.4142 12.3358C16.7893 12.7109 17 13.2196 17 13.75C17 14.2804 16.7893 14.7891 16.4142 15.1642C16.0391 15.5393 15.5304 15.75 15 15.75Z"
                          stroke="#EBEBEB" />
                      </g>
                      <defs>
                        <clipPath>
                          <rect width="30" height="30" fill="white" />
                        </clipPath>
                      </defs>
                    </svg>
                    <div class="locations__coord-text">
                      <span>20.2536° </span> N / <span>69.3321°</span>W
                    </div>
                  </div>
                </div>
              </div>
              <div class="locations__tabs-box" id="location-5">
                <div class="locations__item">
                  <div class="locations__title">
                    Damac Hills 5
                  </div>
                  <div class="locations__text-inner">
                    <p class="locations__text">
                      We are forming a New Earth
                      community delivering solutions that
                      optimize activity, longevity, and
                      wellness in unforgettable locations
                      around the world.
                    </p>
                    <p class="locations__text">The longevity sector is on track to be a multi trillion dollar
                      industry. World’s leaders are heavily investing in longevity tools.
                    </p>
                  </div>
                  <div class="locations__coord">
                    <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <g opacity="0.7" clip-path="url(#clip0_235_959)">
                        <path opacity="0.7"
                          d="M22.6014 21.3513L15 28.9528L7.39856 21.3513C5.89516 19.8479 4.87133 17.9325 4.45655 15.8472C4.04177 13.7619 4.25467 11.6004 5.06831 9.63612C5.88196 7.67182 7.25981 5.99291 9.02764 4.81169C10.7955 3.63047 12.8739 3 15 3C17.1261 3 19.2045 3.63047 20.9724 4.81169C22.7402 5.99291 24.118 7.67182 24.9317 9.63612C25.7453 11.6004 25.9582 13.7619 25.5435 15.8472C25.1287 17.9325 24.1048 19.8479 22.6014 21.3513Z"
                          stroke="#EBEBEB" />
                        <path opacity="0.7"
                          d="M15 19.25C16.4587 19.25 17.8576 18.6705 18.8891 17.6391C19.9205 16.6076 20.5 15.2087 20.5 13.75C20.5 12.2913 19.9205 10.8924 18.8891 9.86091C17.8576 8.82946 16.4587 8.25 15 8.25C13.5413 8.25 12.1424 8.82946 11.1109 9.86091C10.0795 10.8924 9.5 12.2913 9.5 13.75C9.5 15.2087 10.0795 16.6076 11.1109 17.6391C12.1424 18.6705 13.5413 19.25 15 19.25ZM15 15.75C14.4696 15.75 13.9609 15.5393 13.5858 15.1642C13.2107 14.7891 13 14.2804 13 13.75C13 13.2196 13.2107 12.7109 13.5858 12.3358C13.9609 11.9607 14.4696 11.75 15 11.75C15.5304 11.75 16.0391 11.9607 16.4142 12.3358C16.7893 12.7109 17 13.2196 17 13.75C17 14.2804 16.7893 14.7891 16.4142 15.1642C16.0391 15.5393 15.5304 15.75 15 15.75Z"
                          stroke="#EBEBEB" />
                      </g>
                      <defs>
                        <clipPath>
                          <rect width="30" height="30" fill="white" />
                        </clipPath>
                      </defs>
                    </svg>
                    <div class="locations__coord-text">
                      <span>20.2536° </span> N / <span>69.3321°</span>W
                    </div>
                  </div>
                </div>
              </div>
              <div class="locations__tabs-box" id="location-6">
                <div class="locations__item">
                  <div class="locations__title">
                    Damac Hills 6
                  </div>
                  <div class="locations__text-inner">
                    <p class="locations__text">
                      We are forming a New Earth
                      community delivering solutions that
                      optimize activity, longevity, and
                      wellness in unforgettable locations
                      around the world.
                    </p>
                    <p class="locations__text">The longevity sector is on track to be a multi trillion dollar
                      industry. World’s leaders are heavily investing in longevity tools.
                    </p>
                  </div>
                  <div class="locations__coord">
                    <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <g opacity="0.7" clip-path="url(#clip0_235_959)">
                        <path opacity="0.7"
                          d="M22.6014 21.3513L15 28.9528L7.39856 21.3513C5.89516 19.8479 4.87133 17.9325 4.45655 15.8472C4.04177 13.7619 4.25467 11.6004 5.06831 9.63612C5.88196 7.67182 7.25981 5.99291 9.02764 4.81169C10.7955 3.63047 12.8739 3 15 3C17.1261 3 19.2045 3.63047 20.9724 4.81169C22.7402 5.99291 24.118 7.67182 24.9317 9.63612C25.7453 11.6004 25.9582 13.7619 25.5435 15.8472C25.1287 17.9325 24.1048 19.8479 22.6014 21.3513Z"
                          stroke="#EBEBEB" />
                        <path opacity="0.7"
                          d="M15 19.25C16.4587 19.25 17.8576 18.6705 18.8891 17.6391C19.9205 16.6076 20.5 15.2087 20.5 13.75C20.5 12.2913 19.9205 10.8924 18.8891 9.86091C17.8576 8.82946 16.4587 8.25 15 8.25C13.5413 8.25 12.1424 8.82946 11.1109 9.86091C10.0795 10.8924 9.5 12.2913 9.5 13.75C9.5 15.2087 10.0795 16.6076 11.1109 17.6391C12.1424 18.6705 13.5413 19.25 15 19.25ZM15 15.75C14.4696 15.75 13.9609 15.5393 13.5858 15.1642C13.2107 14.7891 13 14.2804 13 13.75C13 13.2196 13.2107 12.7109 13.5858 12.3358C13.9609 11.9607 14.4696 11.75 15 11.75C15.5304 11.75 16.0391 11.9607 16.4142 12.3358C16.7893 12.7109 17 13.2196 17 13.75C17 14.2804 16.7893 14.7891 16.4142 15.1642C16.0391 15.5393 15.5304 15.75 15 15.75Z"
                          stroke="#EBEBEB" />
                      </g>
                      <defs>
                        <clipPath>
                          <rect width="30" height="30" fill="white" />
                        </clipPath>
                      </defs>
                    </svg>
                    <div class="locations__coord-text">
                      <span>20.2536° </span> N / <span>69.3321°</span>W
                    </div>
                  </div>
                </div>
              </div>
              <div class="locations__tabs-box" id="location-7">
                <div class="locations__item">
                  <div class="locations__title">
                    Damac Hills 7
                  </div>
                  <div class="locations__text-inner">
                    <p class="locations__text">
                      We are forming a New Earth
                      community delivering solutions that
                      optimize activity, longevity, and
                      wellness in unforgettable locations
                      around the world.
                    </p>
                    <p class="locations__text">The longevity sector is on track to be a multi trillion dollar
                      industry. World’s leaders are heavily investing in longevity tools.
                    </p>
                  </div>
                  <div class="locations__coord">
                    <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <g opacity="0.7" clip-path="url(#clip0_235_959)">
                        <path opacity="0.7"
                          d="M22.6014 21.3513L15 28.9528L7.39856 21.3513C5.89516 19.8479 4.87133 17.9325 4.45655 15.8472C4.04177 13.7619 4.25467 11.6004 5.06831 9.63612C5.88196 7.67182 7.25981 5.99291 9.02764 4.81169C10.7955 3.63047 12.8739 3 15 3C17.1261 3 19.2045 3.63047 20.9724 4.81169C22.7402 5.99291 24.118 7.67182 24.9317 9.63612C25.7453 11.6004 25.9582 13.7619 25.5435 15.8472C25.1287 17.9325 24.1048 19.8479 22.6014 21.3513Z"
                          stroke="#EBEBEB" />
                        <path opacity="0.7"
                          d="M15 19.25C16.4587 19.25 17.8576 18.6705 18.8891 17.6391C19.9205 16.6076 20.5 15.2087 20.5 13.75C20.5 12.2913 19.9205 10.8924 18.8891 9.86091C17.8576 8.82946 16.4587 8.25 15 8.25C13.5413 8.25 12.1424 8.82946 11.1109 9.86091C10.0795 10.8924 9.5 12.2913 9.5 13.75C9.5 15.2087 10.0795 16.6076 11.1109 17.6391C12.1424 18.6705 13.5413 19.25 15 19.25ZM15 15.75C14.4696 15.75 13.9609 15.5393 13.5858 15.1642C13.2107 14.7891 13 14.2804 13 13.75C13 13.2196 13.2107 12.7109 13.5858 12.3358C13.9609 11.9607 14.4696 11.75 15 11.75C15.5304 11.75 16.0391 11.9607 16.4142 12.3358C16.7893 12.7109 17 13.2196 17 13.75C17 14.2804 16.7893 14.7891 16.4142 15.1642C16.0391 15.5393 15.5304 15.75 15 15.75Z"
                          stroke="#EBEBEB" />
                      </g>
                      <defs>
                        <clipPath>
                          <rect width="30" height="30" fill="white" />
                        </clipPath>
                      </defs>
                    </svg>
                    <div class="locations__coord-text">
                      <span>20.2536° </span> N / <span>69.3321°</span>W
                    </div>
                  </div>
                </div>
              </div>
              <div class="locations__tabs-box" id="location-8">
                <div class="locations__item">
                  <div class="locations__title">
                    Damac Hills 8
                  </div>
                  <div class="locations__text-inner">
                    <p class="locations__text">
                      We are forming a New Earth
                      community delivering solutions that
                      optimize activity, longevity, and
                      wellness in unforgettable locations
                      around the world.
                    </p>
                    <p class="locations__text">
                      We are forming a New Earth
                      community delivering solutions that
                      optimize activity, longevity, and
                      wellness in unforgettable locations
                      around the world.
                    </p>
                    <p class="locations__text">The longevity sector is on track to be a multi trillion dollar
                      industry. World’s leaders are heavily investing in longevity tools.
                    </p>
                  </div>
                  <div class="locations__coord">
                    <svg width="30" height="30" viewBox="0 0 30 30" fill="none" xmlns="http://www.w3.org/2000/svg">
                      <g opacity="0.7" clip-path="url(#clip0_235_959)">
                        <path opacity="0.7"
                          d="M22.6014 21.3513L15 28.9528L7.39856 21.3513C5.89516 19.8479 4.87133 17.9325 4.45655 15.8472C4.04177 13.7619 4.25467 11.6004 5.06831 9.63612C5.88196 7.67182 7.25981 5.99291 9.02764 4.81169C10.7955 3.63047 12.8739 3 15 3C17.1261 3 19.2045 3.63047 20.9724 4.81169C22.7402 5.99291 24.118 7.67182 24.9317 9.63612C25.7453 11.6004 25.9582 13.7619 25.5435 15.8472C25.1287 17.9325 24.1048 19.8479 22.6014 21.3513Z"
                          stroke="#EBEBEB" />
                        <path opacity="0.7"
                          d="M15 19.25C16.4587 19.25 17.8576 18.6705 18.8891 17.6391C19.9205 16.6076 20.5 15.2087 20.5 13.75C20.5 12.2913 19.9205 10.8924 18.8891 9.86091C17.8576 8.82946 16.4587 8.25 15 8.25C13.5413 8.25 12.1424 8.82946 11.1109 9.86091C10.0795 10.8924 9.5 12.2913 9.5 13.75C9.5 15.2087 10.0795 16.6076 11.1109 17.6391C12.1424 18.6705 13.5413 19.25 15 19.25ZM15 15.75C14.4696 15.75 13.9609 15.5393 13.5858 15.1642C13.2107 14.7891 13 14.2804 13 13.75C13 13.2196 13.2107 12.7109 13.5858 12.3358C13.9609 11.9607 14.4696 11.75 15 11.75C15.5304 11.75 16.0391 11.9607 16.4142 12.3358C16.7893 12.7109 17 13.2196 17 13.75C17 14.2804 16.7893 14.7891 16.4142 15.1642C16.0391 15.5393 15.5304 15.75 15 15.75Z"
                          stroke="#EBEBEB" />
                      </g>
                      <defs>
                        <clipPath>
                          <rect width="30" height="30" fill="white" />
                        </clipPath>
                      </defs>
                    </svg>
                    <div class="locations__coord-text">
                      <span>20.2536° </span> N / <span>69.3321°</span>W
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>


        <div class="locations__imgs-wrap">
          <div class="locations__imgs">
            <img class="locations__img" src="images/locations/1.jpg" alt="locations-image" width="300" height="300">
            <img class="locations__img" src="images/locations/2.jpg" alt="locations-image" width="300" height="300">
            <img class="locations__img" src="images/locations/3.jpg" alt="locations-image" width="300" height="300">
          </div>
        </div>


      </div>
    </div>
  </section>
</main>

@include('components/_footer.html')

@include('components/_footer-scripts.html')